---
import Blob from "../../components/Blob.astro";
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
import Leaderboard from "../../components/Leaderboard.astro";
---

<Layout title="Members">
  <div class="container">
    <Blob kind="solid-fill-04" top="-15%" left="-16rem"></Blob>
    <Blob kind="grad-dots-01" top="8%" right="-20rem"></Blob>
    <Blob kind="solid-fill-02" top="2%" right="-22rem"></Blob>
    <Blob kind="grad-dots-02" top="30%" left="-20rem"></Blob>
    <Blob kind="grad-dots-03" top="60%" right="-20rem"></Blob>

    <section>
      <div class="text-center">
        <h1>Member<br>groups</h1>
      </div>
      <div class="flex-center">
        <Leaderboard grouped={true}></Leaderboard>
      </div>
    </section>

    <section class="flex-center bottom-cta">
      <div>
        <div class="text-center">
          <h2>Join the list</h2>
        </div>

        <div class="text-center">
          <Button href="/join"
            >Learn what it takes</TextButton
          >
        </div>
      </div>
    </section>
  </div>
</Layout>
