/*
© 2024 Functional Software, Inc. dba Sentry
SPDX-License-Identifier: Apache-2.0
*/

/* vietnamese */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/libre-franklin-100-900-italic-vietnamese.woff2) format('woff2');
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304,
    U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/libre-franklin-100-900-italic-latin-ext.woff2) format('woff2');
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/libre-franklin-100-900-italic-latin.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/libre-franklin-100-900-normal-vietnamese.woff2) format('woff2');
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304,
    U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/libre-franklin-100-900-normal-latin-ext.woff2) format('woff2');
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/libre-franklin-100-900-normal-latin.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Azeret Mono';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/azaret-mono-100-900-italic-latin-ext.woff2) format('woff2');
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Azeret Mono';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/azaret-mono-100-900-italic-latin.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/azaret-mono-100-900-normal-latin-ext.woff2) format('woff2');
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/azaret-mono-100-900-normal-latin.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
  font-family: var(--font-body);
}
:root {
  --color-bg: #080e17;
  --color-light-bg: #16212d;
  --color-primary: #2dde74;
  --color-secondary: #9e86ff;
  --color-tertiary: #ffd00e;
  --color-muted: #37485c;
  --color-pink: #ff70bc;
  --color-text: white;
  --font-display: Azeret Mono, sans-serif;
  --font-body: Libre Franklin, sans-serif;
  --font-monospace: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, monospace;
  --border-radius: 0.5rem;
}
[hidden] {
  /* We never want anything to have higher specificity than `[hidden]`. */
  display: none !important;
}
html {
  font-size: 20px;
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
}
body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 0.5em;
  font-family: var(--font-display);
}
p {
  margin: 1rem 0;
}
p:first-child, ul:first-child, ol:first-child {
  margin-top: 0;
}
p:last-child, ul:last-child, ol:last-child {
  margin-bottom: 0;
}
table {
  margin: 1rem 0;
}
code, pre {
  font-family: var(--font-monospace);
  font-size: 0.8rem;
}
code {
  padding: 0.1rem 0.2rem;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
pre {
  display: block;
  width: 100%;
  overflow-x: scroll;
  padding: 1rem;
  background: var(--color-bg);
}
a {
  color: var(--color-primary);
  &:hover {
    color: var(--color-secondary);
  }
}
a.sneaky {
  color: var(--color-text);
  text-decoration: none;
  &:hover {
    color: var(--color-secondary);
    text-decoration: underline;
  }
}
a.skiplink {
  position: absolute;
  transform: translateY(-100%);
  &:focus {
    transform: translateY(0);
  }
}
.small-caps {
  font-variant-caps: small-caps;
  font-feature-settings: "smcp";
  text-transform: lowercase;
  letter-spacing: 1px;
}
form {
  margin: 1rem 0;
  button {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    color: black;
    background-color: var(--color-primary);
    border: 0;
    border-radius: var(--border-radius);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    &:hover {
      background: var(--color-secondary);
    }
    &:active {
      background: var(--color-tertiary);
    }
  }
  input, textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--color-light-bg);
    background: var(--color-bg);
    color: white;
    font-size: 1rem;
    font-family: var(--font-body);
  }
  .input-wrapper {
    position: relative;
    .prefix {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 0.5rem;
    }
    input {
      padding-left: 3rem;
    }
  }
  input {
    &[type=number] {
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        display: none;
      }
    }
    &:invalid {
      border-color: var(--color-tertiary);
      outline: none;
      & + .hint {
        display: block;
      }
    }
  }
  .control {
    margin: 0.7rem 0;
    label {
      display: block;
      small {
        display: block;
        font-style: italic;
      }
    }
    .hint {
      display: none;
      color: var(--color-tertiary);
    }
  }
}
details {
  summary {
    cursor: pointer;
  }
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 860px;
  &.container--narrow {
    max-width: 600px;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  tr {
    text-align: left;
  }
  td, th {
    @media (min-width: 451px) {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }
  }
  &.table--bordered {
    border-top: 2px solid var(--color-muted);
    tr {
      td, th {
        padding: 0.3rem;
        border-bottom: 1px solid var(--color-muted);
      }
    }
  }
  &.table--lr {
    td:nth-child(1), th:nth-child(1) {
      text-align: left;
    }
    td:nth-child(2), th:nth-child(2) {
      text-align: right;
    }
  }
  &.table--lrr {
    td:nth-child(1), th:nth-child(1) {
      text-align: left;
    }
    td:nth-child(2), th:nth-child(2),
    td:nth-child(3), th:nth-child(3)
    {
      text-align: right;
    }
  }
  &.table--40-30-30 {
    @media (min-width: 451px) {
      td:nth-child(1), th:nth-child(1) {
        width: 40%;
      }
      td:nth-child(2), th:nth-child(2),
      td:nth-child(3), th:nth-child(3)
      {
        width: 30%;
      }
    }
  }
}
ul, ol {
  li > ul, li > ol {
    padding-left: 2rem;
  }
}
blockquote {
  position: relative;
  margin: 2rem;
  padding-top: 2rem;
  &:before {
    content: '“';
    position: absolute;
    top: -0.5rem;
    left: -0.4rem;
    font-size: 5rem;
    line-height: 1;
    font-style: italic;
    color: var(--color-primary);
    pointer-events: none;
  }
}
.button {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.8rem 2rem;
  color: var(--color-bg);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  &.button--small {
    padding: 0.4rem 1rem;
    font-size: 1rem;
  }
  &:hover {
    background: var(--color-secondary);
    color: var(--color-bg);
  }
  &:active {
    background: var(--color-tertiary);
    color: var(--color-bg);
  }
}
.button-group {
  display: flex;
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius);
  overflow: hidden;
  .button {
    margin: 0;
    border-radius: 0;
    border-right: 2px solid var(--color-primary);
    background: none;
    color: var(--color-primary);
    &:last-child {
      border-right: none;
    }
  }
}
.select {
  padding: 0.5rem;
  background: var(--color-bg);
  border: none;
  color: white;
  font-size: 1rem;
}
section {
  margin: 4rem 0;
  @media (max-width: 800px) {
    margin: 2rem 0;
  }
  h1 {
    font-size: 4rem;
    line-height: 1.3;
    @media (max-width: 800px) {
     font-size: 2rem;
    }
  }
  h2 {
    font-size: 1.8rem;
    line-height: 1.3;
  }
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @media (max-width: 800px) {
    flex-direction: column;
    gap: 1rem;
  }
  a {
    text-decoration: none;
    img {
      max-height: 3.5rem;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 2rem;
    @media (max-width: 800px) {
      justify-content: center;
      column-gap: 1.5rem;
    }
  }
}
img, object {
  max-width: 100%;
}
video {
  max-width: 100%;
  margin: 2rem auto;
}
iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
  border: none;
  &.youtube-embed {
    aspect-ratio: 16 / 9;
  }
}
.icon {
  display: block;
  &.icon--stroked {
    svg {
      path, rect {
        stroke: white;
      }
    }
  }
  &.icon--filled {
    svg {
      path, rect {
        fill: white;
      }
    }
  }
  svg {
    display: block;
    width: 1rem;
    height: 1rem;
  }
}
.label {
  display: inline-block;
  padding: 0 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1;
  border-radius: 0.2rem;
  color: black;
  background: #85c1e4;
}
footer {
  margin: 4rem 0;
  text-align: center;
  .footer-nav {
    max-width: 30rem;
    margin: 0 auto;
    span {
      display: inline-block;
      margin: 0 1rem;
    }
  }
  .footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: var(--color-primary);
        svg path {
          fill: var(--color-primary);
        }
      }
    }
  }
  .footer-partners {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    .footer-partners__partner {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      @media (max-width: 800px) {
        flex-direction: column;
        gap: 0.3rem;
      }
      img {
        position: relative;
        top: 1px;
        max-height: 0.8rem;
      }
    }
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.divider {
  margin-top: 2rem;
  border-bottom: 1px solid var(--color-secondary);
  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    margin: 0;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    font-weight: normal;
    color: black;
    background: var(--color-secondary);
  }
}
.highlight-box {
  margin: 1rem 0;
  padding: 1rem 1.25rem;
  background: var(--color-light-bg);
  border-radius: var(--border-radius);
  h2, h3 {
    font-size: 1.2rem;
    line-height: 1.3;
  }
  &.highlight-box--circled {
    h3 {
      display: flex;
      align-items: center;
      .circled {
        margin-right: 1rem;
      }
    }
  }
}
.edge-blobs {
  @media (max-width: 980px) {
    display: none;
  }
}
.circled {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  border: 3px solid var(--color-text);
  font-weight: bold;
  font-size: 1.2rem;
}
.badge-heading {
  text-align: center;
  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    padding: 0.2rem 0.6rem;
    transform: rotate(3deg);
    position: relative;
    z-index: 20;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: var(--color-primary);
    color: black;
  }
}
.badge-heading-container {
  position: relative;
  .badge-heading {
    position: absolute;
    top: -1.3rem;
    left: 0;
    right: 0;
  }
}

hr {
  margin: 1.5rem auto;
  max-width: 10rem;
  border-color: var(--color-primary);
  border-width: 1px;
}

.article-listing {
  position: relative;
  margin: 0;
  &:last-child hr {
    display: none;
  }
  h2 {
    font-size: 1.2rem;
    font-weight: normal;
    font-family: var(--font-body);
  }
  blockquote {
    margin: 0;
  }
  .meta {
    display: flex;
    align-items: center;
    .avatar {
      width: 2.5rem;
      height: 2.5rem;
      background-size: cover;
      background-position: center center;
      margin-right: 1rem;
      border-radius: 100%;
    }
    em {
      display: block;
    }
    time {
      display: block;
      font-size: 0.8rem;
    }
  }
}

.jotw {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-light-bg);
}
.previous-jotw {
  summary + .featured-job {
    margin-top: 1rem;
  }
}
.featured-job {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 3px solid transparent;
  border-radius: var(--border-radius);
  background-color: var(--color-light-bg);
  &.badge-heading-container {
    padding-top: 2.5rem;
  }
  .featured-job-head {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    img {
      align-self: center;
      max-width: 4.5rem;
      border-radius: var(--border-radius);
      @media (max-width: 450px) {
        max-width: 3.0rem;
      }
    }
    h2 {
      margin: 0;
      font-size: 1.2rem;
      line-height: 1.3;
      a:not(:hover) {
        color: var(--color-text);
        text-decoration: none;
      }
    }
  }
  p a {
    margin-left: 0.2rem;
  }
  .job-title {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}
.job-set {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--color-light-bg);
  border: 3px solid transparent;
  border-radius: var(--border-radius);
  .job-set-head {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    img {
      align-self: center;
      max-width: 4.5rem;
      border-radius: var(--border-radius);
      @media (max-width: 450px) {
        max-width: 3.0rem;
      }
    }
    h2 {
      margin: 0;
      font-size: 1.2rem;
      line-height: 1.3;
      a:not(:hover) {
        color: var(--color-text);
        text-decoration: none;
      }
    }
  }
  .job-link {
    position: relative;
    display: block;
    padding: 0.2rem 0;
    padding-right: 1.5rem;
    text-decoration: none;
    &:after {
      content: '→';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}

.resources {
  display: grid;
  grid-template-columns: repeat(3, minmax(9rem, 1fr));
  gap: 1rem;
  margin: 2rem 0;
  figure.resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 1rem;
    background-color: var(--color-light-bg);
    border-radius: var(--border-radius);
    .resource__image, &.resource--light .resource__image {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(/images/checkerboard-dark.svg);
      background-size: 16px 16px;
      .resource-guide {
      }
    }
    &.resource--dark .resource__image {
      background-image: url(/images/checkerboard-light.svg);
      .resource-guide {
        --color-resource-guide: #0088ffff;
      }
    }
    .resource__image {
      position: relative;
      padding: 1rem;
      img {
        max-height: 10rem;
      }
      .resource-guide {
        --color-resource-guide: #0088ff77;
        position: absolute;
        border: 0px solid var(--color-resource-guide);
        &.resource-guide--va, &.resource-guide--vb {
          top: 0;
          bottom: 0;
          border-left-width: 1px;
        }
        &.resource-guide--ha, &.resource-guide--hb {
          left: 0;
          right: 0;
          border-top-width: 1px;
        }
        &.resource-guide--va {
          left: calc(1rem - 2px);
        }
        &.resource-guide--vb {
          right: calc(1rem - 2px);
        }
        &.resource-guide--ha {
          top: calc(1rem - 2px);
        }
        &.resource-guide--hb {
          bottom: calc(1rem - 2px);
        }
      }
    }
    figcaption {
      align-self: flex-start;
      margin-top: 1rem;
    }
  }
  @media (max-width: 800px) {
    display: block;
    figure.resource {
      margin-bottom: 1rem;
    }
  }
}

/*
Bluesky flutter — https://flutterby.philhawksworth.dev/
SPDX-SnippetBegin
SPDX-License-Identifier: MIT
SPDX-SnippetCopyrightText: 2024 Phil Hawksworth
*/
.bluesky-flutter svg {
  transition: 200ms;
}

.bluesky-flutter .left {
  transform-origin: center;
}
.bluesky-flutter .right {
  transform-origin: center;
  transform: scale(-1, 1);
}
.bluesky-flutter:hover .left, .bluesky-flutter:focus .left {
   animation: flutter 430ms ease-in-out;
   --flip: 1;
}
.bluesky-flutter:hover .right, .bluesky-flutter:focus .right {
   animation: flutter 500ms ease-in-out;
   --flip: -1;
}
.bluesky-flutter:hover svg, .bluesky-flutter:focus svg {
  transform: rotate(-5deg);
  transition: 500ms;
}

@media (prefers-reduced-motion) {
  .bluesky-flutter:hover .left,
  .bluesky-flutter:focus .left,
  .bluesky-flutter:hover .right,
  .bluesky-flutter:focus .right {
    animation: none;
  }
}

@keyframes flutter {
  10% {
    transform: scale(calc(var(--flip)*1), 0.9);
  }
  20% {
    transform: scale(calc(var(--flip)*0.5), 1);
  }
  40% {
    transform: scale(calc(var(--flip)*0.9), 0.95);
  }
  60% {
    transform: scale(calc(var(--flip)*0.3), 1);
  }
  80% {
    transform: scale(calc(var(--flip)*0.9), 0.95);
  }
  100% {
    transform: scale(calc(var(--flip)*1), 1);
  }
}
/* SPDX-SnippetEnd */
