/*
© Functional Software, Inc. dba Sentry
SPDX-License-Identifier: Apache-2.0
*/

@font-face {
  font-family: 'ABC Arizona Flare';
  font-display: swap;
  src: url(/fonts/ABCArizonaFlare-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'PP Mori';
  font-display: swap;
  src: url(/fonts/PPMori-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'PP Mori';
  font-style: italic;
  font-display: swap;
  src: url(/fonts/PPMori-Italic.woff2) format('woff2');
}
@font-face {
  font-family: 'PP Mori';
  font-weight: bold;
  font-display: swap;
  src: url(/fonts/PPMori-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'PP Mori';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url(/fonts/PPMori-BoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'PP Mori';
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/PPMori-Black.woff2) format('woff2');
}

* {
  box-sizing: border-box;
}
:root {
  --color-bg: #080e17;
  --color-dark-bg: #02060f;
  --color-light-bg: #16212d;
  --color-mid-bg: #0d131b;
  --color-primary: #2dde74;
  --color-secondary: #9e86ff;
  --color-tertiary: #ffd00e;
  --color-pink: #ff70bc;
  --color-orink: #ff7f82;
  --color-muted: #37485c;
  --color-text: white;

  --border-radius: 0.5rem;
  --border-radius-md: 1.0rem;
  --border-radius-lg: 3.0rem;
  --border-radius-xl: 6.0rem;

  --font-display: 'ABC Arizona Flare', sans-serif;
  --font-body: 'PP Mori', sans-serif;
  --font-monospace: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, monospace;

  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 23px;
  --font-size-xl: 36px;
  --font-size-xxl: 60px;

  --line-height-xs: 15px;
  --line-height-s: 25px;
  --line-height-m: 25px;
  --line-height-l: 30px;
  --line-height-xl: 40px;
  --line-height-xxl: 65px;
}
[hidden] {
  /* We never want anything to have higher specificity than `[hidden]`. */
  display: none !important;
}
html {
  font-size: 20px;
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
}
body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}
.no-scroll {
  overflow-y: hidden;
}
html, body, input, button, textarea {
  font-family: var(--font-body);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: var(--font-display);
  small {
    display: block;
    &:last-child {
      margin-top: 15px;
    }
  }
}
h1 {
  margin-bottom: 30px;
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
  small {
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
  }
}
h2 {
  margin-bottom: 20px;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  small {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
  }
}
article h2 {
  margin-top: 40px;
  @media (max-width: 900px) {
    margin-top: 30px;
  }
  &:first-child {
    margin-top: 0;
  }
}
h3 {
  margin-bottom: 20px;
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  small {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }
}
article h3 {
  margin-top: 40px;
  @media (max-width: 900px) {
    margin-top: 30px;
  }
  &:first-child {
    margin-top: 0;
  }
}
h4, h5, h6 {
  margin-bottom: 10px;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  small {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
  }
}
article h4, article h5, article h6 {
  margin-top: 20px;
  @media (max-width: 900px) {
    margin-top: 15px;
  }
  &:first-child {
    margin-top: 0;
  }
}
small {
  font-size: var(--font-size-s);
}
p {
  margin: 20px 0;
}
p:first-child, ul:first-child, ol:first-child, .button:first-child, fieldset legend + p {
  margin-top: 0;
}
p:last-child, ul:last-child, ol:last-child, .button:last-child {
  margin-bottom: 0;
}
table {
  margin: 20px 0;
}
code, pre {
  font-family: var(--font-monospace);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}
code {
  padding: 0.1rem 0.2rem;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
pre {
  display: block;
  width: 100%;
  overflow-x: scroll;
  padding: 1rem;
  background: var(--color-bg);
}
a {
  color: var(--color-primary);
  &:hover {
    color: var(--color-secondary);
  }
}
a.sneaky {
  color: var(--color-text);
  text-decoration: none;
  &:hover {
    color: var(--color-secondary);
    text-decoration: underline;
  }
}
a.skiplink {
  position: absolute;
  transform: translateY(-100%);
  &:focus {
    transform: translateY(0);
  }
}
.small-caps {
  font-variant-caps: small-caps;
  font-feature-settings: "smcp";
  text-transform: lowercase;
  letter-spacing: 1px;
}
.image-link {
  display: block;
  img {
    display: block;
  }
}
button {
  padding: 0;
  border: none;
  background: transparent;
}
form {
  margin: 1rem 0;
  button {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    color: black;
    background-color: var(--color-primary);
    border: 0;
    border-radius: var(--border-radius);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    cursor: pointer;
    &:hover {
      background: var(--color-secondary);
    }
    &:active {
      background: var(--color-tertiary);
    }
  }
  input, textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--color-light-bg);
    background: var(--color-bg);
    color: white;
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    font-family: var(--font-body);
  }
  .input-wrapper {
    position: relative;
    .prefix {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 0.5rem;
    }
    input {
      padding-left: 3rem;
    }
  }
  input {
    &[type=number] {
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        display: none;
      }
    }
    &:invalid {
      border-color: var(--color-tertiary);
      outline: none;
      & + .hint {
        display: block;
      }
    }
  }
  .control {
    margin: 0.7rem 0;
    label {
      display: block;
      small {
        display: block;
        font-style: italic;
      }
    }
    .hint {
      display: none;
      color: var(--color-tertiary);
    }
  }
}
details {
  summary {
    cursor: pointer;
  }
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
  &.container--narrow {
    max-width: 600px;
  }
  &.container--left {
    @media (min-width: 1000px) {
      margin-left: calc((100% - 1000px) / 2);
      margin-right: 0;
      max-width: revert;
    }
  }
  &.container--right {
    @media (min-width: 1000px) {
      margin-right: calc((100% - 1000px) / 2);
      margin-left: 0;
      max-width: revert;
    }
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  tr {
    text-align: left;
  }
  td, th {
    @media (min-width: 451px) {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }
  }
  &.table--bordered {
    border-top: 2px solid var(--color-muted);
    tr {
      td, th {
        padding: 0.3rem;
        border-bottom: 1px solid var(--color-muted);
      }
    }
  }
  &.table--lr {
    td:nth-child(1), th:nth-child(1) {
      text-align: left;
    }
    td:nth-child(2), th:nth-child(2) {
      text-align: right;
    }
  }
  &.table--lrr {
    td:nth-child(1), th:nth-child(1) {
      text-align: left;
    }
    td:nth-child(2), th:nth-child(2),
    td:nth-child(3), th:nth-child(3)
    {
      text-align: right;
    }
  }
  &.table--40-30-30 {
    @media (min-width: 451px) {
      td:nth-child(1), th:nth-child(1) {
        width: 40%;
      }
      td:nth-child(2), th:nth-child(2),
      td:nth-child(3), th:nth-child(3)
      {
        width: 30%;
      }
    }
  }
}
ul, ol {
  padding-left: 15px;
  li {
    margin: 10px 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  li > ul, li > ol {
    padding-left: 2rem;
  }
}
blockquote {
  position: relative;
  margin: 2rem;
  &:before {
    content: '“';
    position: absolute;
    top: -1px;
    left: -38px;
    font-size: 2.3rem;
    line-height: 1;
    font-style: italic;
    font-family: var(--font-display);
    color: var(--color-primary);
    pointer-events: none;
    @media (max-width: 1000px) {
      top: -1.4rem;
      left: -0.2rem;
    }
  }
}
fieldset {
  padding: 1rem;
  border: none;
  border-radius: var(--border-radius);
  background: var(--color-mid-bg);
  legend {
    padding: 0.2rem 0.8rem;
    padding-bottom: 0.3rem;
    border-radius: var(--border-radius);
    background: var(--color-primary);
    color: var(--color-bg);
    font-family: var(--font-display);
    font-weight: bold;
    font-variant-caps: small-caps;
    font-feature-settings: "smcp";
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
  }
  ul {
    padding-left: 0;
    list-style: inside;
  }
}
.button {
  display: inline-block;
  margin: 20px 0;
  padding: 15px 35px;
  color: var(--color-bg);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-display);
  font-weight: 600;
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  cursor: pointer;
  &.button--xs {
    padding: 4px 12px;
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
  }
  &.button--sm {
    padding: 10px 16px;
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }
  &.button--control {
    padding: 8px 20px;
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }
  &.button--inline {
    margin: 0;
  }
  &.button--block {
    display: block;
  }
  &:hover {
    background: var(--color-secondary);
    color: var(--color-bg);
  }
  &:active {
    background: var(--color-tertiary);
    color: var(--color-bg);
  }
}
.button-container {
  margin: 1.5rem 0;
  text-align: center;
}
.button-group {
  display: flex;
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius);
  overflow: hidden;
  .button {
    margin: 0;
    border-radius: 0;
    border-right: 2px solid var(--color-primary);
    background: none;
    color: var(--color-primary);
    &:last-child {
      border-right: none;
    }
  }
}
p + .button {
  margin-top: 0;
}
.select {
  padding: 0.5rem;
  background: var(--color-bg);
  border: none;
  color: white;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}
section {
  margin: 5rem 0;
  &.section--tight {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  &.section--leading {
    margin-top: 0;
  }
  @media (max-width: 900px) {
    margin: 3rem 0;
  }
  h1 {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
    @media (max-width: 800px) {
      font-size: var(--font-size-xl);
      line-height: var(--line-height-xl);
    }
  }
}
header {
  --header-height: 80px;
  --header-margin: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  height: var(--header-height);
  margin-block: var(--header-margin);
  a {
    text-decoration: none;
    img {
      max-height: 70px;
      @media (max-width: 800px) {
        max-height: 60px;
      }
    }
  }
  nav.nav--desktop {
    display: block;
    @media (max-width: 800px) {
      display: none;
    }
  }
  nav.nav--mobile {
    position: fixed;
    top: calc(var(--header-height) + var(--header-margin));
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding-block: 10px;
    background: var(--color-bg);
    a {
      display: block;
      padding-inline: 20px;
      padding-block: 15px;
      font-size: var(--font-size-l);
      &:hover {
        text-decoration: none;
      }
      .button {
        padding-block: 10px;
        font-size: var(--font-size-m);
      }
    }
  }
  .mobile-nav-trigger {
    display: none;
    @media (max-width: 800px) {
      display: block;
    }
  }
  .nav-group-set {
    display: flex;
    column-gap: 1.5rem;
    row-gap: 0.4rem;
    @media (max-width: 800px) {
      flex-direction: column;
      column-gap: 0.8rem;
    }
  }
  .nav-group {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1.5rem;
    @media (max-width: 800px) {
      justify-content: center;
      column-gap: 0.8rem;
    }
  }
}
img, object {
  max-width: 100%;
}
video {
  max-width: 100%;
  margin: 2rem auto;
}
iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
  border: none;
  &.youtube-embed {
    aspect-ratio: 16 / 9;
  }
}
.icon {
  display: block;
  &.icon--stroked {
    svg {
      path, rect {
        stroke: white;
      }
    }
  }
  &.icon--filled {
    svg {
      path, rect {
        fill: white;
      }
    }
  }
  svg {
    display: block;
    width: 1rem;
    height: 1rem;
  }
}
.label {
  display: inline-block;
  padding: 0 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: var(--font-size-s);
  line-height: 1;
  font-weight: normal;
  border-radius: 0.2rem;
  color: black;
  background: #85c1e4;
}
footer {
  margin: 2rem 0;
  padding-top: 2rem;
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  border-top: 1px solid var(--color-light-bg);
  .footer-main {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    @media (max-width: 900px) {
      flex-direction: column-reverse;
    }
  }
  .footer-logo {
    display: flex;
    @media (max-width: 900px) {
      justify-content: center;
    }
    img {
      height: 5rem;
    }
  }
  .footer-copy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: right;
    @media (max-width: 900px) {
      gap: 2rem;
    }
  }
  .footer-socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    @media (max-width: 900px) {
      justify-content: center;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: var(--color-primary);
        svg path {
          fill: var(--color-primary);
        }
      }
    }
  }
  .footer-navs {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 900px) {
      justify-content: center;
      text-align: center;
    }
    gap: 2rem;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    a {
      text-decoration: underline;
    }
    li {
      margin: 0;
    }
  }
  .footer-partners {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .footer-partners__partner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 15px;
      @media (max-width: 900px) {
        flex-direction: column;
        gap: 3px;
      }
      img {
        position: relative;
        top: 1px;
        width: 100px;
      }
    }
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.divider {
  margin-top: 2rem;
  border-bottom: 1px solid var(--color-secondary);
  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    margin: 0;
    padding: 0.3rem 0.5rem;
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    font-weight: normal;
    color: black;
    background: var(--color-secondary);
  }
}
.highlight-box {
  margin: 30px 0;
  padding: 20px 30px;
  background: var(--color-light-bg);
  border-radius: var(--border-radius);
  h2, h3 {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l)
  }
  &.highlight-box--circled {
    h3 {
      display: flex;
      align-items: center;
      .circled {
        margin-right: 1rem;
      }
    }
  }
}
.edge-blobs {
  @media (max-width: 980px) {
    display: none;
  }
}
.custom-blob {
  position: absolute;
  width: 6rem;
  height: 6rem;
  background: linear-gradient(
    to bottom right in oklch,
    /* var(--color-secondary), */
    var(--color-pink),
    /* #f17dd3, */
    var(--color-tertiary)
  );
  /* background: linear-gradient( */
  /*   to bottom right in oklab, */
  /*   var(--color-primary), */
  /*   var(--color-primary), */
  /*   #00cff4, */
  /*   var(--color-secondary), */
  /*   var(--color-secondary) */
  /* ); */
  /* background: #6263d3; */
  &.custom-blob--a {
    border-radius: 54% 46% 19% 81% / 41% 87% 13% 59%;
  }
  &.custom-blob--b {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  &.custom-blob--under {
    z-index: 90;
  }
  &.custom-blob--over {
    z-index: 100;
  }
  &.custom-blob--s {
    width: 1.8rem;
    height: 1.8rem;
  }
  &.custom-blob--xs {
    width: 1.3rem;
    height: 1.3rem;
  }
  &.custom-blob--s, &.custom-blob--xs {
    /* mask-image: url(/images/dots-mask.svg); */
    /* background: var(--color-primary); */
    /* background: linear-gradient( */
    /*   to bottom right in oklab, */
    /*   var(--color-secondary), */
    /*   var(--color-secondary), */
    /*   #00cff4, */
    /*   var(--color-primary), */
    /*   var(--color-primary) */
    /* ); */
    /* background: linear-gradient( */
    /*   to bottom right in oklab, */
    /*   #5500ff, */
    /*   #9c85f1, */
    /*   #6dffd4, */
    /*   #10f310 */
    /* ); */
    background: linear-gradient(
      to bottom left in oklab,
      #33aa88,
      var(--color-primary),
      #88cc22,
      /* var(--color-tertiary) */
      var(--color-secondary)
    );
  }
}
.circled {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2px;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  border: 3px solid var(--color-text);
  font-size: var(--font-size-l);
  line-height: 1;
  font-weight: 800;
}
.term {
  display: flex;
  gap: 0.7rem;
  margin: 1rem 0;
  align-items: flex-start;
  .signal {
    width: 1.2rem;
    height: 1.2rem;
    flex: 0 0 1.2rem;
    margin-top: 0.1rem;
    border-radius: 100%;
    &.signal--success {
      background: var(--color-primary);
    }
    &.signal--fail {
      background: var(--color-tertiary);
    }
  }
  p {
    margin-top: 0.5rem;
  }
}
.badge-heading {
  text-align: center;
  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    padding: 0.2rem 0.6rem;
    transform: rotate(3deg);
    position: relative;
    z-index: 20;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
    background-color: var(--color-primary);
    color: black;
  }
}
.badge-heading-container {
  position: relative;
  .badge-heading {
    position: absolute;
    top: -1.3rem;
    left: 0;
    right: 0;
  }
}

hr {
  margin: 40px auto;
  max-width: 3rem;
  border-color: var(--color-primary);
  border-width: 1px;
}

.section-bookend {
  text-align: center;
  h1, h2, h3, h4, h5, h6 {
    word-wrap: balance;
  }
}

.article-listing {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin: 1rem 0;
  padding: 1rem;
  background: var(--color-light-bg);
  border-radius: var(--border-radius);
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
    h2 {
      color: var(--color-secondary);
    }
  }
  &.article-listing--compact {
    gap: 0.4rem;
    .meta .avatar {
      display: none;
    }
    .byline {
      gap: 0.7rem;
    }
  }
  h2 {
    margin: 0;
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    font-weight: normal;
    font-family: var(--font-body);
    text-decoration: none;
    text-wrap: balance;
    color: var(--color-primary);
  }
  .meta {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    .avatar {
      width: 1.8rem;
      height: 1.8rem;
      background-size: cover;
      background-position: center center;
      border-radius: 100%;
    }
  }
  .byline {
    display: flex;
    gap: 1rem;
    @media (max-width: 1000px) {
      display: block;
    }
  }
}

.jotw {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-light-bg);
}
.previous-jotw {
  summary + .featured-job {
    margin-top: 1rem;
  }
}
.featured-job {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 3px solid transparent;
  border-radius: var(--border-radius);
  background-color: var(--color-light-bg);
  &.badge-heading-container {
    padding-top: 2.5rem;
  }
  .featured-job-head {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    img {
      align-self: center;
      max-width: 4.5rem;
      border-radius: var(--border-radius);
      @media (max-width: 450px) {
        max-width: 3.0rem;
      }
    }
    h2 {
      margin: 0;
      font-size: var(--font-size-l);
      line-height: var(--line-height-l);
      a:not(:hover) {
        color: var(--color-text);
        text-decoration: none;
      }
    }
  }
  p a {
    margin-left: 0.2rem;
  }
  .job-title {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
    margin-bottom: 0;
  }
}
.job-set {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--color-light-bg);
  border: 3px solid transparent;
  border-radius: var(--border-radius);
  .job-set-head {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    img {
      align-self: center;
      max-width: 4.5rem;
      border-radius: var(--border-radius);
      @media (max-width: 450px) {
        max-width: 3.0rem;
      }
    }
    h2 {
      margin: 0;
      font-size: var(--font-size-l);
      line-height: var(--line-height-l);
      a:not(:hover) {
        color: var(--color-text);
        text-decoration: none;
      }
    }
  }
  .job-link {
    position: relative;
    display: block;
    padding: 0.2rem 0;
    padding-right: 1.5rem;
    text-decoration: none;
    &:after {
      content: '→';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}

.resources {
  display: grid;
  grid-template-columns: repeat(3, minmax(9rem, 1fr));
  gap: 1rem;
  margin: 2rem 0;
  figure.resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 1rem;
    background-color: var(--color-light-bg);
    border-radius: var(--border-radius);
    .resource__image, &.resource--light .resource__image {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(/images/checkerboard-dark.svg);
      background-size: 16px 16px;
      .resource-guide {
      }
    }
    &.resource--dark .resource__image {
      background-image: url(/images/checkerboard-light.svg);
      .resource-guide {
        --color-resource-guide: #0088ffff;
      }
    }
    .resource__image {
      position: relative;
      padding: 1rem;
      img {
        max-height: 10rem;
      }
      .resource-guide {
        --color-resource-guide: #0088ff77;
        position: absolute;
        border: 0px solid var(--color-resource-guide);
        &.resource-guide--va, &.resource-guide--vb {
          top: 0;
          bottom: 0;
          border-left-width: 1px;
        }
        &.resource-guide--ha, &.resource-guide--hb {
          left: 0;
          right: 0;
          border-top-width: 1px;
        }
        &.resource-guide--va {
          left: calc(1rem - 2px);
        }
        &.resource-guide--vb {
          right: calc(1rem - 2px);
        }
        &.resource-guide--ha {
          top: calc(1rem - 2px);
        }
        &.resource-guide--hb {
          bottom: calc(1rem - 2px);
        }
      }
    }
    figcaption {
      align-self: flex-start;
      margin-top: 1rem;
    }
  }
  @media (max-width: 800px) {
    display: block;
    figure.resource {
      margin-bottom: 1rem;
    }
  }
}

.text-with-figure {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
  figure {
    margin: 0;
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    text-align: center;
  }
  @media (max-width: 800px) {
    flex-direction: column-reverse;
    gap: 1rem;
    figure img {
      margin: 0 auto;
      width: 250px;
    }
  }
}

.pictured-cta {
  display: flex;
  gap: 1rem;
  @media (max-width: 850px) {
    flex-direction: column;
  }
  .picture {
    flex: 3;
    @media (max-width: 1500px) {
      flex: 2;
    }
    &.picture--vlad-altctrlorg {
      min-height: 17rem;
      background-image: url(https://cdn.kinopio.club/B2HeL3hVJJKqiy0KrvlwV/AltCtrOrg-Event-46.jpg);
      background-size: cover;
      background-position: center;
      border-radius: var(--border-radius-md);
    }
  }
  .cta {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    background: var(--color-light-bg);
    border-radius: var(--border-radius-md);
    h2, p, .button {
      margin-top: 0;
      margin-bottom: 0;
    }
    h2 {
      font-size: var(--font-size-xl);
      line-height: var(--line-height-xl);
      text-align: center;
    }
    p {
      text-align: left;
    }
  }
}

/*
Bluesky flutter — https://flutterby.philhawksworth.dev/
SPDX-SnippetBegin
SPDX-License-Identifier: MIT
SPDX-SnippetCopyrightText: 2024 Phil Hawksworth
*/
.bluesky-flutter svg {
  transition: 200ms;
}

.bluesky-flutter .left {
  transform-origin: center;
}
.bluesky-flutter .right {
  transform-origin: center;
  transform: scale(-1, 1);
}
.bluesky-flutter:hover .left, .bluesky-flutter:focus .left {
   animation: flutter 430ms ease-in-out;
   --flip: 1;
}
.bluesky-flutter:hover .right, .bluesky-flutter:focus .right {
   animation: flutter 500ms ease-in-out;
   --flip: -1;
}
.bluesky-flutter:hover svg, .bluesky-flutter:focus svg {
  transform: rotate(-5deg);
  transition: 500ms;
}

@media (prefers-reduced-motion) {
  .bluesky-flutter:hover .left,
  .bluesky-flutter:focus .left,
  .bluesky-flutter:hover .right,
  .bluesky-flutter:focus .right {
    animation: none;
  }
}

@keyframes flutter {
  10% {
    transform: scale(calc(var(--flip)*1), 0.9);
  }
  20% {
    transform: scale(calc(var(--flip)*0.5), 1);
  }
  40% {
    transform: scale(calc(var(--flip)*0.9), 0.95);
  }
  60% {
    transform: scale(calc(var(--flip)*0.3), 1);
  }
  80% {
    transform: scale(calc(var(--flip)*0.9), 0.95);
  }
  100% {
    transform: scale(calc(var(--flip)*1), 1);
  }
}
/* SPDX-SnippetEnd */
