---
// © 2024 Vlad-Stefan Harbuz <vlad@vladh.net>
// SPDX-License-Identifier: Apache-2.0

import Blob from "../components/Blob.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="72%" left="-13rem"></Blob>
    <Blob kind="grad-dots-06" top="37%" right="-5rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="solid-fill-05" top="20%" left="-16rem"></Blob>
    <Blob kind="solid-fill-04" top="90%" right="-20rem"></Blob>

    <main id="main-content">
      <section>
        <h1>About the Pledge</h1>

        <p>Open Source Pledge is a group of companies with a shared commitment to
        paying the maintainers of the Open Source software we all consume. We aim
        to prevent maintainer burnout and reduce flare-ups of high-profile
        security incidents such as XZ, Log4Shell, and Heartbleed. We invite all
        companies to <a href="/join">join the Pledge</a>.</p>

        <h2>Governance and Structure</h2>

        <p
          >Open Source Pledge is brought to you by
          <a href="https://sentry.io/welcome/">Sentry</a>
          and
          <a href="https://github.com/opensourcepledge/opensourcepledge.com/graphs/contributors">contributors</a>.</p
        >

        <p>We have four working groups and a steering group comprised of working group leads.</p>

        <table class="table--bordered">
          <thead>
            <tr>
              <th>Working Group</th>
              <th>Lead</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Member Outreach</td>
              <td><a href="https://vladh.net">Vlad-Stefan Harbuz</a></td>
            </tr>
            <tr>
              <td>Maintainer Outreach</td>
              <td><a href="https://ethanarrowood.com/">Ethan Arrowood</a></td>
            </tr>
            <tr>
              <td>Marketing &amp; Media</td>
              <td><a href="https://github.com/selviano">Michael Selvidge</a></td>
            </tr>
            <tr>
              <td>Design &amp; Build</td>
              <td><a href="https://chadwhitacre.com/">Chad Whitacre</a></td>
            </tr>
            <tr>
              <td>Steering</td>
              <td><a href="https://chadwhitacre.com/">Chad Whitacre</a></td>
            </tr>
          </tbody>
        </table>
      </section>

      <section>
        <h2>Want to help?</h2>
        <p
          >To help us build Open Source Pledge, please
          <a href="https://github.com/opensourcepledge/opensourcepledge.com/issues">dive into our issues</a>
          or reach out to the working group leads listed here either in issues or
          <a href="https://discord.gg/svH5XzDsBd">on Discord</a>.</p
        >
      </section>
    </main>
  </div>
</Layout>
