---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// © Safwan Yaseen Parkar <safwanparkar6@gmail.com>
// SPDX-License-Identifier: Apache-2.0

import Blob from "../components/Blob.astro";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import MiniLeaderboard from "../components/MiniLeaderboard.astro";
import TextButton from "../components/TextButton.astro";
import { getMembers } from '../members/common.ts';
import TableOfContents from "../components/TableOfContents.astro";

const members = getMembers();
---

<Layout title="About the Pledge">
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="72%" left="-13rem"></Blob>
    <Blob kind="grad-dots-04" top="8%" right="-3rem"></Blob>
    <Blob kind="grad-dots-06" top="37%" right="-5rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="solid-fill-05" top="20%" left="-16rem"></Blob>
    <Blob kind="solid-fill-04" top="90%" right="-20rem"></Blob>
    <Blob kind="grad-dots-03" top="10%" left="-15rem"></Blob>

    <main id="main-content">
      <section>
        <div class="text-center">
          <h1>About the Pledge</h1>
        </div>

        <p
          >The Open Source Pledge is a group of companies with a shared commitment to paying the maintainers of the Open
          Source software we all depend on. Our goal is to establish a new social norm of companies paying Open Source
          maintainers, so
          <a href="/blog/burnout-in-open-source-a-structural-problem-we-can-fix-together">burnout</a>
          and related security issues like the
          <a href="https://en.wikipedia.org/wiki/XZ_Utils_backdoor" target="_blank">XZ Utils backdoor</a>
          and
          <a href="https://en.wikipedia.org/wiki/Log4Shell" target="_blank">Log4Shell</a>
          can become a thing of the past.</p
        >

        <p
          >Our new norm is for companies to pay a minimum of $2000 per year per full-time equivalent developer on the
          company's staff, directly to Open Source maintainers and/or foundations of each company's choosing.</p
        >

        <hr>

        <div class="text-with-figure">
          <div>
            <p
              >Open Source projects lie at the foundation of the software we build and depend on. But, the people who
              tirelessly maintain them often do so
              <a href="https://openpath.chadwhitacre.com/2024/the-open-source-sustainability-crisis/" target="_blank"
                >without being paid at all</a
              >.
              Many maintainers have to either struggle to make ends meet, or work a second shift after working hours to
              maintain projects that often have to be looked after for years or decades.</p
            >
            <p
              >This arrangement isn't fair to the maintainers who build software we value. And it leads to a fragile
              ecosystem that's susceptible to security issues, because the people who look after our digital infrastructure
              are likely to suffer from burnout.</p
            >
            <p
              >This creates the risk of foundational OSS projects breaking, which threatens both our commercial
              products, and public tech infrastructure like transportation, medical devices and the internet.</p
            >
          </div>
          <figure>
            <a href="https://xkcd.com/2347/" target="_blank">
              <img
                src="/images/dependency.webp"
                alt="This xkcd comic shows a Jenga-like tower of blocks, illustrating “all modern digital infrastructure”. The structure precariously rests on a small load-bearing block, titled “a project some random person in Nebraska has been thanklessly maintaining since 2003”."
                title="Someday ImageMagick will finally break for good and we'll have a long period of scrambling as we try to reassemble civilization from the rubble."
              >
            </a>
          </figure>
        </div>
        <div class="button-container">
          <Button
            href="https://opensourcesecurity.io/2026/2026-04-open-source-pledge-vlad/"
            target="_blank"
            extraClasses="button--sm"
          >Watch podcast episode →</Button>
        </div>
      </section>

      <section>
        <h2>Pledge Team</h2>

        <p
          >The Open Source Pledge is brought to you by
          <a target="_blank" href="https://sentry.io/welcome/">Sentry</a>
          and contributors.</p
        >
        <p>Our core team is:</p>
        <ul>
          <li>
            <a target="_blank" href="https://vlad.website">Vlad-Stefan Harbuz</a> (independent)
          </li>
          <li>
            <a target="_blank" href="https://www.kumparak.com/">Greg Kumparak</a> (Sentry)
          </li>
          <li>
            <a target="_blank" href="https://chadwhitacre.com/">Chad Whitacre</a> (Sentry)
          </li>
        </ul>
        <p>Former core team members, to whom we are eternally grateful:</p>
        <ul>
          <li>
            <a target="_blank" href="https://github.com/selviano">Michael Selvidge</a> (formerly at Sentry)
          </li>
        </ul>
        <p
          >Most design work is done
          by Sentry's in-house creative team,
          <a href="https://sentry.design/" target="_blank">Studio 404</a>.
        </p>
        <p
          >Additional supporting work has been done by people too numerous to name here — thank you!
          Some contributors are listed <a target="_blank" href="https://github.com/opensourcepledge/opensourcepledge.com/graphs/contributors">on GitHub</a>.</p
        >

        <p
          >To help us build the Open Source Pledge, read
          <a href="https://github.com/opensourcepledge/opensourcepledge.com/blob/main/CONTRIBUTING.md" target="_blank"
            >CONTRIBUTING.md</a
          >,
          <a href="https://github.com/opensourcepledge/opensourcepledge.com/issues" target="_blank"
            >dive into our issues</a
          >,
          and feel free to reach out to the working group leads either in issues or
          <a
            href="https://join.slack.com/t/opensourcepledge/shared_invite/zt-33qxp7jsz-CJeYxDBnc2Y3FuZvGCHLMw"
            target="_blank"
          >on Slack</a>.</p
        >
      </section>

      <section>
        <TableOfContents filepath={Astro.self.moduleId || ""} title="Frequently Asked Questions" />
      </section>

      <section id="other-ways-to-support-open-source">
        <h3>What about other ways to support Open Source?</h3>

        <p
          >Some companies support the Open Source ecosystem by hiring developers to work on Open Source Software, or by
          giving gifts such as cloud computing credits. While we agree that developer time and gifts in kind are
          valuable and important, only cash payments count towards the pledge, because the point of the Pledge is to get
          money to underpaid and overworked maintainers of important Open Source projects. If maintainers of software we
          rely on can pay the bills, we will have a healthier, fairer, more stable and more secure Open Source
          ecosystem.</p
        >
      </section>

      <section id="what-payments-are-eligible">
        <h3>What payments are eligible?</h3>

        <p>The primary intent with the Pledge is <b>no-strings-attached payments
          to Open Source maintainers</b>. Starting with that, here are some
          clarifications:</p>

        <ol>

          <li>Projects you pay should meet the
            <a href="https://opensource.org/osd" target="_blank">Open Source Definition</a>.</li>

          <li>Open Source projects that your company controls are out of scope.
            If you own the trademark, it doesn't count.</li>

          <li>Open Source projects that exclusively benefit your company's
            own ecosystem are out of scope.</li>

          <li>Directly employing maintainers is laudable, yet outside the core
            scope of the Pledge, because of the complexity and subtle conflicts
            of interest that come along with that.</li>

          <li>It's okay if you get non-exclusive logo placement or other
            acknowledgement for your payments, or an hour or two of consulting
            time along with a large sponsorship, but anything beyond such minimal
            benefits puts the payment out of scope.</li>

          <li
            >Payments to all Open Source
            <a href="https://fossfoundation.info/" target="_blank">foundations</a> are in scope.
            We acknowledge that most foundations today are not set up to pay maintainers — they focus more on
            conferences, trademarks etc. We hope that the Pledge will enable foundations to shift towards paying
            maintainers in the future.</li
          >

          <li>It's great if your company also actively participates in the
            projects you fund, via code contributions, membership on an
            advisory council or board, and the like.</li>

          <li>Platforms such as
            <a target="_blank" href="https://thanks.dev/home">thanks.dev</a>,
            <a target="_blank" href="https://opencollective.com/">Open Collective</a>,
            <a target="_blank" href="https://github.com/sponsors">GitHub Sponsors</a> and
            <a target="_blank" href="https://funds.ecosyste.ms/">ecosyste.ms Funds</a> are a
            common way to pay maintainers, though some can also
            be used to make payments that are out-of-scope for the Pledge. Only
            payments that fit our criteria are in scope, regardless of payment
            platform.</li>

        </ol>

        <p>When in doubt, use your best judgement and be transparent in your
        annual report.</p>

      </section>

      <section id="does-open-source-pledge-handle-funds">
        <h3>Does the Open Source Pledge handle funds?</h3>

        <p>Payments are made directly to maintainers — we never handle any funds.</p>
      </section>

      <section id="who-has-already-joined">
        <h3>Who has already joined?</h3>

        <p>Here are some of our members:</p>

        <div class="flex-center">
          <div>
            <MiniLeaderboard></MiniLeaderboard>

            <div class="text-center">
              <TextButton href="/members">See all {members.length} members</TextButton>
            </div>
          </div>
        </div>
      </section>

      <section id="what-are-open-source-pledge-innovators">
        <h3>What are Open Source Pledge Innovators?</h3>

        <p
          >Innovators are founding members of the Pledge who joined before our launch on 08 Oct 2024. They can be
          identified by the “Innovator” badge they carry on our <a href="/members">member list</a>.</p
        >
      </section>

      <section id="how-can-i-join">
        <h3>How can I join?</h3>

        <p
          >To join our {members.length} members and help promote a healthy Open Source ecosystem, see our
          instructions:</p
        >

        <div class="flex-center">
          <Button href="/join">Join the Pledge</Button>
        </div>
      </section>

      <section id="can-individuals-join">
        <h3>Can individuals join?</h3>

        <p
          >No, we don't offer an individual membership category, because we are focused on unlocking funding from <em>companies</em> to maintainers. That said, single-person companies are <a href="/join/">welcome to join</a>, and we also appreciate <a href="/endorsements/">endorsements</a> from individuals.</p
        >

        <p>
          Individuals who want to give back to Open Source might also be interested in the
          <a href="https://endowment.dev" target="_blank">Open Source Endowment</a>,
          the first ever endowment dedicated to supporting the Open Source ecosystem, built on funds mainly raised from
          individual donors.
        </p>
      </section>

      <section id="is-it-unfair-to-ask-companies-in-diff-countries-to-pay-the-same-amount">
        <h3>Is it unfair to ask companies in different countries to pay the same amount?</h3>

        <p
          >Our current ask is set to US$2000 per dev per year. We're trying to find ways to take purchasing power
          disparities into account to make this requirement more accessible to companies worldwide, but there are many
          details to consider. We'd love to hear your thoughts over in
          <a href="https://github.com/opensourcepledge/opensourcepledge.com/issues/36" target="_blank">issue #36</a>.</p
        >
      </section>

      <section id="where-can-i-find-promotional-materials">
        <h3>Where can I find promotional materials?</h3>

        <p>
          Members, ecosystem partners and general advocates will find a lot of helpful promotional materials on
          <a href="/resources">our Resources page</a>. You can even make your own stickers! :)
        </p>
      </section>

      <section id="are-there-local-initiatives-similar-to-the-pledge">
        <h3>Are there local initiatives similar to the Pledge?</h3>

        <p
          >French readers may be interested in
          <em><a href="https://copiepublique.fr/" target="_blank">Copie Publique</a></em>, whose
          goals align with ours. Let us know about any other initiatives we may have missed.</p
        >
      </section>

      <section id="is-the-pledge-related-to-cryptocurrencies-in-any-way">
        <h3>Is the Pledge related to cryptocurrencies in any way?</h3>

        <p
          >The Pledge aims to improve the Open Source ecosystem using traditional funding methods. Our work is unrelated
          to cryptocurrencies, DAOs or any such technologies.</p
        >
      </section>
    </main>
  </div>
</Layout>

<style>
  h3 {
    font-size: 1rem;
  }
</style>
