---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// © Safwan Yaseen Parkar <safwanparkar6@gmail.com>
// SPDX-License-Identifier: Apache-2.0

import Blob from "../components/Blob.astro";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import MiniLeaderboard from "../components/MiniLeaderboard.astro";
import TextButton from "../components/TextButton.astro";
import { getMembers } from '../members/common.ts';
import TableOfContents from "../components/TableOfContents.astro";

const members = getMembers();
---

<Layout title="About the Pledge">
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="72%" left="-13rem"></Blob>
    <Blob kind="grad-dots-04" top="8%" right="-3rem"></Blob>
    <Blob kind="grad-dots-06" top="37%" right="-5rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="solid-fill-05" top="20%" left="-16rem"></Blob>
    <Blob kind="solid-fill-04" top="90%" right="-20rem"></Blob>
    <Blob kind="grad-dots-03" top="10%" left="-15rem"></Blob>

    <main id="main-content">
      <section>
        <div class="text-center">
          <h1>About the Pledge</h1>
        </div>

        <p>
          The Open Source Pledge is a group of companies with a shared commitment to paying the maintainers of the Open
          Source software we all depend on. Our goal is to establish a new social norm of companies paying Open Source
          maintainers, so
          <a href="/blog/burnout-in-open-source-a-structural-problem-we-can-fix-together">burnout</a>
          and related security issues like the
          <a href="https://en.wikipedia.org/wiki/XZ_Utils_backdoor" target="_blank">XZ Utils backdoor</a>
          and
          <a href="https://en.wikipedia.org/wiki/Log4Shell" target="_blank">Log4Shell</a>
          can become a thing of the past.
        </p>

        <p>
          Our new norm is for companies to pay a minimum of $2000 per year per full-time equivalent developer on the
          company's staff, directly to Open Source maintainers and/or foundations of each company's choosing.
        </p>

        <hr>

        <div class="text-with-figure">
          <div>
            <p>
              Open Source projects lie at the foundation of the software we build and depend on. But, the people who
              tirelessly maintain them often do so
              <a href="https://openpath.chadwhitacre.com/2024/the-open-source-sustainability-crisis/" target="_blank"
                >without being paid at all</a
              >.
              Many maintainers have to either struggle to make ends meet, or work a second shift after working hours to
              maintain projects that often have to be looked after for years or decades.
            </p>
            <p>
              This arrangement isn't fair to the maintainers who build software we value. And it leads to a fragile
              ecosystem that's susceptible to security issues, because the people who look after our digital infrastructure
              are likely to suffer from burnout.
            </p>
            <p>
              This creates the risk of foundational OSS projects breaking, which threatens both our commercial
              products, and public tech infrastructure like transportation, medical devices and the internet.
            </p>
          </div>
          <figure>
            <a href="https://xkcd.com/2347/" target="_blank">
              <img
                src="/images/dependency.webp"
                alt="This xkcd comic shows a Jenga-like tower of blocks, illustrating “all modern digital infrastructure”. The structure precariously rests on a small load-bearing block, titled “a project some random person in Nebraska has been thanklessly maintaining since 2003”."
                title="Someday ImageMagick will finally break for good and we'll have a long period of scrambling as we try to reassemble civilization from the rubble."
              >
            </a>
          </figure>
        </div>
        <div class="button-container">
          <Button
            href="https://opensourcesecurity.io/2026/2026-04-open-source-pledge-vlad/"
            target="_blank"
            extraClasses="button--sm"
          >Watch podcast episode →</Button>
        </div>
      </section>

      <section>
        <h2>Pledge Team</h2>

        <div class="team">
          <a href="https://chadwhitacre.com/" target="_blank" class="team-member">
            <div>
              <span>Chad Whitacre</span>
              <small>Director</small>
            </div>
            <img class="team-member-portrait" src="/images/team/chad.webp">
          </a>
          <a href="https://vlad.website" target="_blank" class="team-member">
            <div>
              <span>Vlad-Stefan Harbuz</span>
              <small>Maintainer</small>
            </div>
            <img class="team-member-portrait" src="/images/team/vlad.webp">
          </a>
          <a href="https://www.kumparak.com/" target="_blank" class="team-member">
            <div>
              <span>Greg Kumparak</span>
              <small>Editor</small>
            </div>
            <img class="team-member-portrait" src="/images/team/greg.webp">
          </a>
        </div>
        <h3>Initiator</h3>
        <div class="team">
          <a href="https://sentry.io" target="_blank" class="team-member team-member--company">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 44" class="company-logo"><path d="M29,2.26a4.67,4.67,0,0,0-8,0L14.42,13.53A32.21,32.21,0,0,1,32.17,40.19H27.55A27.68,27.68,0,0,0,12.09,17.47L6,28a15.92,15.92,0,0,1,9.23,12.17H4.62A.76.76,0,0,1,4,39.06l2.94-5a10.74,10.74,0,0,0-3.36-1.9l-2.91,5a4.54,4.54,0,0,0,1.69,6.24A4.66,4.66,0,0,0,4.62,44H19.15a19.4,19.4,0,0,0-8-17.31l2.31-4A23.87,23.87,0,0,1,23.76,44H36.07a35.88,35.88,0,0,0-16.41-31.8l4.67-8a.77.77,0,0,1,1.05-.27c.53.29,20.29,34.77,20.66,35.17a.76.76,0,0,1-.68,1.13H40.6q.09,1.91,0,3.81h4.78A4.59,4.59,0,0,0,50,39.43a4.49,4.49,0,0,0-.62-2.28Z M124.32,28.28,109.56,9.22h-3.68V34.77h3.73V15.19l15.18,19.58h3.26V9.22h-3.73ZM87.15,23.54h13.23V20.22H87.14V12.53h14.93V9.21H83.34V34.77h18.92V31.45H87.14ZM71.59,20.3h0C66.44,19.06,65,18.08,65,15.7c0-2.14,1.89-3.59,4.71-3.59a12.06,12.06,0,0,1,7.07,2.55l2-2.83a14.1,14.1,0,0,0-9-3c-5.06,0-8.59,3-8.59,7.27,0,4.6,3,6.19,8.46,7.52C74.51,24.74,76,25.78,76,28.11s-2,3.77-5.09,3.77a12.34,12.34,0,0,1-8.3-3.26l-2.25,2.69a15.94,15.94,0,0,0,10.42,3.85c5.48,0,9-2.95,9-7.51C79.75,23.79,77.47,21.72,71.59,20.3ZM195.7,9.22l-7.69,12-7.64-12h-4.46L186,24.67V34.78h3.84V24.55L200,9.22Zm-64.63,3.46h8.37v22.1h3.84V12.68h8.37V9.22H131.08ZM169.41,24.8c3.86-1.07,6-3.77,6-7.63,0-4.91-3.59-8-9.38-8H154.67V34.76h3.8V25.58h6.45l6.48,9.2h4.44l-7-9.82Zm-10.95-2.5V12.6h7.17c3.74,0,5.88,1.77,5.88,4.84s-2.29,4.86-5.84,4.86Z" fill="#ffffff"></path></svg>
          </a>
        </div>
        <h3>Contributors</h3>
        <div class="team">
          <a href="https://github.com/dmk246" target="_blank" class="team-member">
            <div>
              <span>Dana Kato</span>
              <small>Contributor</small>
            </div>
          </a>
          <a href="https://mirandaheath.website/" target="_blank" class="team-member">
            <div>
              <span>Miranda Heath</span>
              <small>Contributor</small>
            </div>
          </a>
        </div>
        <h3>Historical contributors</h3>
        <div class="team">
          <a href="https://github.com/selviano" target="_blank" class="team-member">
            <div>
              <span>Michael Selvidge</span>
              <small>Former comms lead</small>
            </div>
          </a>
          <a href="https://sentry.design/" target="_blank" class="team-member">
            <div>
              <span>Studio 404</span>
              <small>Brand design</small>
            </div>
          </a>
        </div>
      </section>

      <section>
        <TableOfContents filepath={Astro.self.moduleId || ""} title="Frequently Asked Questions" />

        <div class="faq">
          <div class="faq-item" id="other-ways-to-support-open-source">
            <h3>What about other ways to support Open Source?</h3>

            <p>
              Some companies support the Open Source ecosystem by hiring developers to work on Open Source Software, or by
              giving gifts such as cloud computing credits.
            </p>
            <p>
              These gifts are important! But our mission focuses on <em>cash payments</em> to underpaid and overworked
              maintainers, which is why only cash payments count towards Pledge membership.
            </p>
            <p>
              If maintainers of software we rely on can do their Open Source work while paying their bills, we will
              have a healthier, fairer, more stable and more secure Open Source ecosystem.
            </p>
          </div>

          <div class="faq-item" id="what-payments-are-eligible">
            <h3>What payments are eligible?</h3>

            <p>
              The Pledge promotes
              <em>no-strings-attached payments to Open Source maintainers</em>.
              Starting with that, here are some clarifications.
              When in doubt, use your best judgement and be transparent in your annual report.
            </p>

            <div class="term">
              <div class="signal signal--success"></div>
              <div>
                <h4>Open Source Projects</h4>
                <p>
                  Projects you pay should meet the
                  <a href="https://opensource.org/osd" target="_blank">Open Source Definition</a>.
                </p>
              </div>
            </div>

            <div class="term">
              <div class="signal signal--success"></div>
              <div>
                <h4>Open Source Foundations</h4>

                <p>
                  Payments to all Open Source
                  <a href="https://fossfoundation.info/" target="_blank">foundations</a>
                  are in scope.
                  We acknowledge that most foundations today are not set up to pay maintainers — they focus more on
                  conferences, trademarks etc. We hope that the Pledge will enable foundations to shift towards paying
                  maintainers in the future.
                </p>
              </div>
            </div>

            <div class="term">
              <div class="signal signal--success"></div>
              <div>
                <h4>Other Contributions</h4>
                <p>
                  It's great if your company also actively participates in the projects you fund, via code contributions,
                  membership on an advisory council or board, and the like.
                </p>
              </div>
            </div>

            <div class="term">
              <div class="signal signal--success"></div>
              <div>
                <h4>Payment Method–Agnostic</h4>
                <p>
                  Platforms such as
                  <a target="_blank" href="https://thanks.dev/home">thanks.dev</a>,
                  <a target="_blank" href="https://opencollective.com/">Open Collective</a>,
                  <a target="_blank" href="https://github.com/sponsors">GitHub Sponsors</a> and
                  <a target="_blank" href="https://funds.ecosyste.ms/">ecosyste.ms Funds</a>
                  are a common way to pay maintainers, though some can also be used to make payments that are out-of-scope
                  for the Pledge. Only payments that fit our criteria are in scope, regardless of payment platform.
                </p>
              </div>
            </div>

            <div class="term">
              <div class="signal signal--fail"></div>
              <div>
                <h4>Trademarks</h4>
                <p>
                  Open Source projects that your company controls are out of scope. If you own the trademark, it doesn't
                  count.
                </p>
              </div>
            </div>

            <div class="term">
              <div class="signal signal--fail"></div>
              <div>
                <h4>Exclusive Benefit</h4>
                <p>
                  Open Source projects that exclusively benefit your company's own ecosystem are out of scope.
                </p>
              </div>
            </div>

            <div class="term">
              <div class="signal signal--fail"></div>
              <div>
                <h4>Payments To Employed Maintainers</h4>
                <p>
                  Directly employing maintainers is laudable, yet outside the core scope of the Pledge, because of the
                  complexity and subtle conflicts of interest that come along with that.
                </p>
              </div>
            </div>

            <div class="term">
              <div class="signal signal--fail"></div>
              <div>
                <h4>Non-Incidental Company Benefit</h4>
                <p>
                  It's okay if you get non-exclusive logo placement or other acknowledgement for your payments, or an hour
                  or two of consulting time along with a large sponsorship, but anything beyond such minimal benefits puts
                  the payment out of scope.
                </p>
              </div>
            </div>
          </div>

          <div class="faq-item" id="does-open-source-pledge-handle-funds">
            <h3>Does the Open Source Pledge handle funds?</h3>

            <p>
              Payments are made directly to maintainers — we never handle any funds.
            </p>
          </div>

          <div class="faq-item" id="what-are-open-source-pledge-innovators">
            <h3>What are Open Source Pledge Innovators?</h3>

            <p>
              Innovators are founding members of the Pledge who joined before our launch on 08 Oct 2024. They can be
              identified by the “Innovator” badge they carry on our <a href="/members">member list</a>.
            </p>
          </div>

          <div class="faq-item" id="can-individuals-join">
            <h3>Can individuals join?</h3>

            <p>
              No, we don't offer an individual membership category, because we are focused on unlocking funding from
              <em>companies</em> to maintainers. That said, single-person companies are
              <a href="/join/">welcome to join</a>,
              and we also appreciate
              <a href="/endorsements/">endorsements</a>
              from individuals.
            </p>

            <p>
              Individuals who want to give back to Open Source might also be interested in the
              <a href="https://endowment.dev" target="_blank">Open Source Endowment</a>,
              the first ever endowment dedicated to supporting the Open Source ecosystem, built on funds mainly raised from
              individual donors.
            </p>
          </div>

          <div class="faq-item" id="is-it-unfair-to-ask-companies-in-diff-countries-to-pay-the-same-amount">
            <h3>Is it unfair to ask companies in different countries to pay the same amount?</h3>

            <p>
              Our current ask is set to US$2000 per dev per year. We're trying to find ways to take purchasing power
              disparities into account to make this requirement more accessible to companies worldwide, but there are many
              details to consider. We'd love to hear your thoughts over in
              <a href="https://github.com/opensourcepledge/opensourcepledge.com/issues/36" target="_blank">issue #36</a>.
            </p>
          </div>

          <div class="faq-item" id="where-can-i-find-promotional-materials">
            <h3>Where can I find promotional materials?</h3>

            <p>
              Members, ecosystem partners and general advocates will find a lot of helpful promotional materials on
              <a href="/resources">our Resources page</a>. You can even make your own stickers! 😊
            </p>
          </div>

          <div class="faq-item" id="are-there-local-initiatives-similar-to-the-pledge">
            <h3>Are there local initiatives similar to the Pledge?</h3>

            <p>
              French readers may be interested in
              <em><a href="https://copiepublique.fr/" target="_blank">Copie Publique</a></em>, whose
              goals align with ours. Let us know about any other initiatives we may have missed.
            </p>
          </div>

          <div class="faq-item" id="is-the-pledge-related-to-cryptocurrencies-in-any-way">
            <h3>Is the Pledge related to cryptocurrencies in any way?</h3>

            <p>
              No. The Pledge aims to improve the Open Source ecosystem using traditional funding methods. Our work is
              unrelated to cryptocurrencies, DAOs or any such technologies.
            </p>
          </div>
        </div>
      </section>
    </main>
  </div>
</Layout>

<style>
  h3 {
    font-size: 1rem;
  }
  .team {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: 1rem;
    margin: 1rem 0;
    .team-member {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      background: var(--color-light-bg);
      border-radius: var(--border-radius);
      color: inherit;
      text-decoration: none;
      border: 2px solid transparent;
      &:hover {
        border: 2px solid var(--color-secondary);
      }
      &.team-member--company {
        justify-content: center;
      }
      .team-member-portrait {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
      }
      .company-logo {
        max-width: 10rem;
      }
      & > div {
        flex: 1;
        span, small {
          display: block;
        }
      }
    }
  }
  .faq-item {
    margin: 1rem 0;
    background: var(--color-light-bg);
    padding: 1rem;
    border-radius: var(--border-radius);
    h3 {
      padding-bottom: 0.3rem;
      border-bottom: 1px solid var(--color-muted);
    }
  }
</style>
