---
// © 2024 Vlad-Stefan Harbuz <vlad@vladh.net>
// SPDX-License-Identifier: Apache-2.0

import Blob from "../components/Blob.astro";
import Button from "../components/Button.astro";
import EndorsementList from "../components/EndorsementList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="42%" left="-13rem"></Blob>
    <Blob kind="grad-dots-06" top="37%" right="-5rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="solid-fill-05" top="20%" right="-16rem"></Blob>
    <Blob kind="solid-fill-04" top="90%" left="-20rem"></Blob>
    <Blob kind="grad-dots-03" top="10%" left="-15rem"></Blob>

    <main id="main-content">
      <h1>Endorsements</h1>
      <p>See what lovely folks from across the Open Source ecosystem had to say about the Open Source Pledge.</p>

      <section>
        <EndorsementList full={true}></EndorsementList>
      </section>

      <section class="flex-center bottom-cta">
        <div>
          <div class="text-center">
            <h2>Convinced?</h2>
          </div>

          <div class="text-center">
            <Button href="/join/">Join the Pledge</TextButton>
          </div>
        </div>
      </section>
    </main>
  </div>
</Layout>

<style>
</style>
