---
// © 2024 Chad Whitacre <chadwhitacre@sentry.io>
// © 2024 David Cramer
// © 2024 Vlad-Stefan Harbuz <vlad@vladh.net>
// SPDX-License-Identifier: Apache-2.0

import Blob from "../components/Blob.astro";
import Button from "../components/Button.astro";
import Endorsements from "../components/Endorsements.astro";
import Layout from "../layouts/Layout.astro";
import MiniLeaderboard from "../components/MiniLeaderboard.astro";
import TextButton from "../components/TextButton.astro";
---

<Layout>
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="35%" right="-13rem"></Blob>
    <Blob kind="grad-dots-02" top="60%" right="-4rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="grad-dots-04" top="-2%" left="-20rem"></Blob>
    <Blob kind="grad-dots-03" top="50%" left="-20rem"></Blob>
    <Blob kind="solid-fill-01" top="2%" left="-20rem"></Blob>
    <Blob kind="solid-fill-05" top="20%" left="-16rem"></Blob>
    <Blob kind="solid-fill-02" top="70%" left="-20rem"></Blob>
    <Blob kind="grad-dots-01" top="80%" left="-13rem"></Blob>
    <Blob kind="solid-fill-04" top="90%" right="-20rem"></Blob>

    <main id="main-content">
      <section class="pc-hero">
        <Blob kind="grad-dots-05" top="65%" right="-3.5rem"></Blob>
        <div class="pc-hero-container">
          <div class="heading-and-mini-pc">
            <h1>Pay your share</h1>
            <div class="mini-pc">
              <img src="/images/piggybank.webp" alt="A hand puts bills into a computer monitor">
            </div>
          </div>
          <p
            >Whether you're a CEO, CFO, CTO, or just a dev, your company surely depends on Open Source software. It's
            time to pay the maintainers.</p
          >
          <Button href="/join">Join the Pledge</Button>
        </div>
      </section>

      <section>
        <h2>TL;DR</h2>

        <div class="highlight-box highlight-box--circled">
          <h3><div><span class="circled">1</span></div><span>Pay Open Source maintainers</span></h3>
          <p>The minimum to participate is $2,000 per year per developer at your company.</p>
        </div>

        <div class="highlight-box highlight-box--circled">
          <h3><div><span class="circled">2</span></div><span>Self-report annually</span></h3>
          <p>Each year, publish a blog post outlining your payments to maintainers.</p>
        </div>
      </section>

      <section>
        <Endorsements></Endorsements>
      </section>

      <section class="flex-center">
        <div>
          <div class="text-center">
            <h2>Some Member Companies</h2>
          </div>

          <MiniLeaderboard></MiniLeaderboard>

          <div class="text-center">
            <TextButton href="/members/">Explore all member companies</TextButton>
          </div>
        </div>
      </section>

      <section class="flex-center bottom-cta">
        <div>
          <div class="text-center">
            <h2>Do the right thing, support Open Source</h2>
          </div>

          <div class="text-center">
            <Button href="/join/">Join the Pledge</TextButton>
          </div>
        </div>
      </section>
    </main>
  </div>
</Layout>

<style>
  .pc-hero {
    position: relative;
    margin-left: -4rem;
    margin-right: -4rem;
    padding: 0 4rem;
    background-image: url(/images/piggybank.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    .pc-hero-container {
      padding-right: 60%;
      .heading-and-mini-pc {
        position: relative;
        h1 {
          margin: 0;
          font-size: 6rem;
          line-height: 1;
        }
        .mini-pc {
          display: none;
          margin-left: 1rem;
        }
      }
    }
  }
  .bottom-cta {
    h2 {
      font-size: 2.8rem;
      line-height: 1.2;
    }
  }
  @media (max-width: 600px) {
    .pc-hero {
      background-image: none;
      & > :global(.blob) {
        display: none;
      }
      .pc-hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        .heading-and-mini-pc {
          display: flex;
          align-items: center;
          h1 {
            flex: 1;
            font-size: 3rem;
          }
          .mini-pc {
            flex: 1;
            display: block;
            img {
              max-width: 100%;
            }
          }
        }
      }
    }
    .bottom-cta {
      h2 {
        font-size: 2rem;
      }
    }
  }
</style>
