---
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import Button from "../components/Button.astro";
---

<Layout title="Open Source Pledge" navless="true">
  <div class="flex items-center min-h-screen">
    <Prose>
      <img
        class="max-w-72"
        src="/logos/opensourcepledge-logo-horiz-color.png"
      >
      <p class="text-app-muted"><em>Launching in October</em></p>
      <p>
        Open Source is <a
          href="https://openpath.chadwhitacre.com/2024/open-source-is-a-restaurant/"
          >a restaurant</a
        >.
      </p>

      <ul>
        <li>not a grocery store (pay first, eat after)</li>
        <li>not a soup kitchen (someone else pays)</li>
        <li>but a restaurant (eat first, pay after)</li>
      </ul>

      <p>
        Our companies feast year after year at the Open Source table. It's time
        to settle up.
      </p>

      <h2 class="text-app-green mt-8 mb-4 text-3xl font-bold">How</h2>

      <b>Step 1:</b> Pay Open Source maintainers.<br />

      <p>
        The minimum to participate is $2,000 per full-time employed developer
        per year.
      </p>

      <b>Step 2:</b> Self-report annually:
      <ol>
        <li>number of full-time employed developers</li>
        <li>payments to maintainers by platform or foundation</li>
      </ol>

      <p>Let's make it happen.</p>

      <Button href="https://github.com/getsentry/team-ospo/issues/245"
        >Get involved</Button
      >

      <p class="my-8">
        Brought to you by <a href="https://sentry.io/welcome/">Sentry</a>.
      </p>
    </Prose>
  </div>
</Layout>

<style>
</style>
