---
import Blob from "../components/Blob.astro";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <Blob kind="grad-dots-01" top="-5%" right="-3rem"></Blob>
    <Blob kind="grad-dots-02" top="45%" left="-12rem"></Blob>
    <Blob kind="grad-dots-03" top="65%" right="-35rem"></Blob>
    <Blob kind="solid-fill-01" top="-5%" right="-3rem"></Blob>
    <Blob kind="solid-fill-02" top="65%" right="-35rem"></Blob>
    <Blob kind="solid-fill-04" top="40%" left="-14rem"></Blob>
    <Blob kind="solid-fill-05" top="15%" right="-25rem"></Blob>
    <h2>Pay your share</h2>
    <p>
      Open Source is <a
        href="https://openpath.chadwhitacre.com/2024/open-source-is-a-restaurant/"
        >a restaurant</a
      >.
    </p>

    <ul>
      <li>not a grocery store (pay first, eat after)</li>
      <li>not a soup kitchen (someone else pays)</li>
      <li>but a restaurant (eat first, pay after)</li>
    </ul>

    <p>
      Our companies feast year after year at the Open Source table. It's time
      to settle up.
    </p>

    <h2>How the Pledge Works</h2>

    <div class="highlight-box">
      <h3>Step One</h3>
      <p>Pay Open Source maintainers.</p>
      <p>
        The minimum to participate is $2,000 per full-time employed developer
        per year.
      </p>
    </div>

    <div class="highlight-box">
      <h3>Step Two</h3>
      <p>Self-report annually.</p>
      <ol>
        <li>number of full-time employed developers</li>
        <li>payments to maintainers by platform or foundation</li>
      </ol>
    </div>
    <div class="footer-cta-box">
      <h2>Let's make it happen.</h2>

      <Button href="/join"
        >Join the Pledge</Button
      >
    </div>

    <p>
      Brought to you by <a href="https://sentry.io/welcome/">Sentry</a>.
    </p>
  </div>
</Layout>

<style>
  .highlight-box {
    margin: 2rem 0;
    padding: 0.25rem 1.25rem;
    background: var(--color-light-bg);
    border-radius: 0.5rem;
    p, h3 {
      margin: 1rem 0;
    }
  }
</style>
