---
// © Functional Software, Inc. dba Sentry
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Blob from "../components/Blob.astro";
import Button from "../components/Button.astro";
import Endorsement from "../components/Endorsement.astro";
import Layout from "../layouts/Layout.astro";
import MemberLogoMarquee from "../components/MemberLogoMarquee.astro";
import PressItemList from "../components/PressItemList.astro";
import TextButton from "../components/TextButton.astro";

import {
  getMembers,
  getAllTimeTotalRaised,
  getLastYearTotalRaised,
  fmtCurrency,
} from '../members/common.ts';

const totalAlltime = getAllTimeTotalRaised(getMembers());
const totalArc = getLastYearTotalRaised(getMembers());
---

<Layout>
  <!-- <div class="edge-blobs"> -->
  <!--   <Blob kind="solid-fill-03" top="35%" right="-13rem"></Blob> -->
  <!--   <Blob kind="grad-dots-02" top="60%" right="-4rem"></Blob> -->
  <!-- </div> -->

  <main id="main-content">
    <div class="hero-container">
      <div class="container">
        <!-- <div -->
        <!--   class="custom-blob custom-blob--a custom-blob--under" -->
        <!--   style="top: 21%; left: -16.5rem"></div> -->
        <!-- <div -->
        <!--   class="custom-blob custom-blob--a custom-blob--over custom-blob--s" -->
        <!--   style="top: 69%; right: -14.0rem"></div> -->
        <!-- <div -->
        <!--   class="custom-blob custom-blob--b custom-blob--over custom-blob--s custom-blob--xs" -->
        <!--   style="top: 149%; left: -21.5rem"></div> -->
        <!-- <Blob kind="grad-dots-simplified-04" top="-13%" left="-20rem"></Blob> -->
        <Blob kind="solid-fill-01" top="55%" left="-20rem"></Blob>
        <Blob kind="solid-fill-05" top="70%" right="-16rem"></Blob>

        <section class="hero-section">
          <!-- <Blob kind="grad-dots-05" top="-8%" right="-7.0rem"></Blob> -->
          <div class="hero">
            <div class="hero-copy">
              <div>
                <h1>Together,&nbsp;<br>we pay the<br>maintainers</h1>
                <p>The world depends on Open Source. We contribute cash to prevent maintainer burnout and software supply chain risk.</p>
              </div>
              <div class="totals">
                <div>
                  <strong>{fmtCurrency(totalArc)}</strong>
                  past year, ${Math.floor(totalAlltime / 1000000)}M+ all time
                </div>
              </div>
              <div>
                <Button href="/about/">Learn More</Button>
              </div>
            </div>
            <div class="piggybank">
              <div
                class="custom-blob custom-blob--b custom-blob--under"
                style="top: -5%; right: -3.0rem"></div>
              <img src="https://vlad.website/t/test-harriet.webp" alt="TODO">
            </div>
          </div>
        </section>
      </div>
      <MemberLogoMarquee></MemberLogoMarquee>
    </div>

    <div class="container">
      <!-- <Blob kind="grad-dots-03" top="20%" left="-20rem"></Blob> -->
      <!-- <Blob kind="solid-fill-02" top="40%" left="-20rem"></Blob> -->
      <!-- <Blob kind="grad-dots-01" top="50%" left="-13rem"></Blob> -->
      <!-- <Blob kind="solid-fill-04" top="60%" right="-20rem"></Blob> -->

      <section>
        <div class="featured-endorsements">
          <Endorsement
            name="Open Source Initiative"
            handle="opensource.org/blog"
            imageUrl="/images/endorsers/osi.svg"
            sourceUrl="https://opensource.org/blog/the-open-source-initiative-supports-the-open-source-pledge"
          >
            <p
              >The OSI supports the Pledge. By taking the Pledge, companies [ensure] the
              long-term health of the Open Source projects they rely on.</p
            >
          </Endorsement>
          <Endorsement
            name="Accel"
            handle="accel.com/noteworthy"
            imageUrl="/images/endorsers/accel.svg"
            sourceUrl="https://www.accel.com/noteworthy/why-accel-is-supporting-the-open-source-pledge"
            extraClasses="extra-endorsement"
          >
            <p
              >The Open Source Pledge addresses a critical challenge facing the sustainability of the foundation upon
              which much of modern technology is built.</p
            >
          </Endorsement>
          <Endorsement
            name="Open Source Collective"
            handle="blog.opencollective.com"
            imageUrl="/images/endorsers/opensourcecollective.png"
            sourceUrl="https://blog.opencollective.com/why-the-open-source-pledge-is-both-relevant-and-timely/"
            extraClasses="extra-endorsement"
          >
            <p>The Open Source Pledge's simple message is incredibly important. Companies: pay your share.</p>
          </Endorsement>
        </div>

        <div class="text-center">
          <TextButton href="/endorsements/">All endorsements →</TextButton>
        </div>
      </section>

      <!--
      <section>
        <h2>TL;DR</h2>

        <div class="highlight-box highlight-box--circled">
          <h3><div><span class="circled">1</span></div><span>Pay Open Source maintainers</span></h3>
          <p>The minimum to participate is $2,000 per year per developer at your company.</p>
        </div>

        <div class="highlight-box highlight-box--circled">
          <h3><div><span class="circled">2</span></div><span>Self-report annually</span></h3>
          <p>Each year, publish a blog post outlining your payments to maintainers.</p>
        </div>
      </section>

      <section>
        <PressItemList></PressItemList>

        <div class="text-center">
          <TextButton href="/press/">See all press coverage</TextButton>
        </div>
      </section>

      <section class="flex-center flex-column nasdaq-polaroid-section">
        <div class="nasdaq-polaroid">
          <img
            src="/images/nasdaq-2025-10@1000px.jpg"
            alt="The big Nasdaq screen in Times Square bearing a message saying “Nasdaq celebrates one year of the Open Source Pledge and the companies who pay maintainers”, and many company logos underneath"
            >
          <img
            src="/images/nasdaq-2024-10-teaser.webp"
            alt="The big Nasdaq screen in Times Square bearing a message saying “Nasdaq celebrates one year of the Open Source Pledge and the companies who pay maintainers”, and many company logos underneath"
            >
          <img
            src="/images/nasdaq-2025-05-teaser.webp"
            alt="The big Nasdaq screen in Times Square bearing a message saying “Nasdaq celebrates one year of the Open Source Pledge and the companies who pay maintainers”, and many company logos underneath"
            >
        </div>
        <TextButton
          href="https://bsky.app/profile/opensourcepledge.com/post/3m2ozi5ajrk2w"
          target="_blank"
        >Read our one year anniversary post</TextButton>
      </section>

      <section class="flex-center bottom-cta">
        <div>
          <div class="text-center">
            <h2>Want in?</h2>
          </div>

          <div class="text-center">
            <Button href="/join/">Join the Pledge</Button>
          </div>
        </div>
        -->
      </section>
    </div>
  </main>
</Layout>

<style is:global>
  .member-logo-marquee {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @media (max-width: 900px) {
    .featured-endorsements .extra-endorsement {
      display: none;
    }
  }
  @media (max-width: 600px) {
    a.sentry-credit {
      justify-content: center;
    }
  }
</style>
<style>
  .hero-container {
    position: relative;
  }
  .hero-section {
    position: relative;
    margin-top: 3rem;
    .hero {
      display: flex;
      gap: 2rem;
      margin-bottom: 0.5rem;
      @media (max-width: 900px) {
        flex-direction: column;
      }
      h1 {
        margin: 0;
        font-size: 3.0rem;
        line-height: 1.05;
      }
      p {
        text-wrap: balance;
      }
      .hero-copy {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
      .piggybank {
        position: relative;
        img {
          width: 50rem;
          max-width: 100%;
          position: relative;
          z-index: 95;
          border-top-left-radius: 6rem;
          border-top-right-radius: 1rem;
        }
      }
      .totals {
        display: flex;
        gap: 3rem;
        @media (max-width: 900px) {
          flex-direction: column;
          gap: 0.5rem;
          margin-bottom: 0;
        }
        strong {
          display: block;
          font-size: 1.8rem;
        }
      }
    }
  }
  .featured-endorsements {
    display: flex;
    gap: 3rem;
    padding-bottom: 1rem;
    @media (max-width: 900px) {
      flex-direction: column;
      blockquote:before {
        top: -1.4rem;
        left: -0.2rem;
      }
    }
    .endorsement {
      flex: 1;
      font-size: 0.9rem;
      figcaption {
        img {
          width: 2.3rem;
          height: 2.3rem;
        }
        a {
          display: none;
        }
      }
    }
  }
  .bottom-cta {
    h2 {
      font-size: 2.8rem;
      line-height: 1.2;
    }
  }
  .nasdaq-polaroid-section {
    .nasdaq-polaroid {
      position: relative;
      img {
        position: relative;
        z-index: 10;
        max-width: 100%;
        width: 25rem;
        aspect-ratio: 1 / 1;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 50px 25px var(--color-bg);
        &:nth-child(2), &:nth-child(3) {
          position: absolute;
          top: 0;
          left: 0;
        }
        &:nth-child(2) {
          z-index: 5;
          transform: rotate(5deg);
        }
        &:nth-child(3) {
          top: 0;
          left: 0;
          z-index: 4;
          transform: rotate(10deg);
        }
      }
    }
    a {
      position: relative;
      z-index: 15;
    }
  }
  @media (max-width: 900px) {
    .hero-section {
      & > :global(.blob) {
        display: none;
      }
      .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
      }
    }
    .bottom-cta {
      h2 {
        font-size: 2rem;
      }
    }
  }
</style>
