---
import Blob from "../components/Blob.astro";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import MiniLeaderboard from "../components/MiniLeaderboard.astro";
import TextButton from "../components/TextButton.astro";
---

<Layout>
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="35%" right="-10rem"></Blob>
    <Blob kind="grad-dots-02" top="60%" right="-1rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="grad-dots-04" top="-2%" left="-20rem"></Blob>
    <Blob kind="grad-dots-03" top="50%" left="-20rem"></Blob>
    <Blob kind="solid-fill-01" top="2%" left="-20rem"></Blob>
    <Blob kind="solid-fill-05" top="20%" left="-16rem"></Blob>
    <Blob kind="solid-fill-02" top="70%" left="-20rem"></Blob>
    <Blob kind="grad-dots-01" top="80%" left="-13rem"></Blob>
    <Blob kind="solid-fill-04" top="90%" right="-20rem"></Blob>

    <section class="pc-hero">
      <Blob kind="grad-dots-05" top="65%" right="-3.5rem"></Blob>
      <div class="pc-hero-container">
        <div class="heading-and-mini-pc">
          <h1>Pay your share</h1>
          <div class="mini-pc">
            <img src="/images/piggybank.png">
          </div>
        </div>
        <p
          >Whether you're a CEO, CFO, CTO, or just a dev, chances are your company is building using OSS. It's time to
          pledge back.</p
        >
        <Button href="/join"
          >Join the Pledge</Button
        >
      </div>
    </section>

    <section>
      <h2>TL;DR</h2>

      <div class="highlight-box highlight-box--circled">
        <h3><div><span class="circled">1</span></div><span>Pay Open Source maintainers</span></h3>
        <p>The minimum to participate is $2,000 per full-time equivalent employed developer per year.</p>
      </div>

      <div class="highlight-box highlight-box--circled">
        <h3><div><span class="circled">2</span></div><span>Self-report annually</span></h3>
        <p
          >Each year, create a blog post outlining your payments to maintainers, as well as your FTE developer
          count.</p
        >
      </div>
    </section>

    <section class="flex-center">
      <div>
        <div class="text-center">
          <h2>Top orgs opening up</h2>
        </div>

        <MiniLeaderboard></MiniLeaderboard>

        <div class="text-center">
          <TextButton href="/members"
            >Go to all members</TextButton
          >
        </div>
      </div>
    </section>

    <section class="flex-center bottom-cta">
      <div>
        <div class="text-center">
          <h2>Do the right thing, support Open Source</h2>
        </div>

        <div class="text-center">
          <Button href="/join"
            >Join the Pledge</TextButton
          >
        </div>
      </div>
    </section>
  </div>
</Layout>

<style>
  .pc-hero {
    position: relative;
    margin-left: -4rem;
    margin-right: -4rem;
    padding: 0 4rem;
    background-image: url(/images/piggybank.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    .pc-hero-container {
      padding-right: 60%;
      .heading-and-mini-pc {
        position: relative;
        h1 {
          margin: 0;
          font-size: 6rem;
          line-height: 1;
        }
        .mini-pc {
          display: none;
        }
      }
    }
  }
  .bottom-cta {
    h2 {
      font-size: 2.8rem;
      line-height: 1.2;
    }
  }
  @media (max-width: 800px) {
    .pc-hero {
      background-image: none;
      & > :global(.blob) {
        display: none;
      }
      .pc-hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        .heading-and-mini-pc {
          display: flex;
          align-items: center;
          h1 {
            font-size: 3rem;
          }
          .mini-pc {
            display: block;
            img {
              max-width: 6rem;
            }
          }
        }
      }
    }
    .bottom-cta {
      h2 {
        font-size: 2rem;
      }
    }
  }
</style>
