---
// © Functional Software, Inc. dba Sentry
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Blob from "../components/Blob.astro";
import Layout from "../layouts/Layout.astro";

const currentYear = (new Date()).getFullYear();
---

<Layout title="Join the Pledge">
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="45%" right="-11rem"></Blob>
    <Blob kind="grad-dots-04" top="2%" right="-2rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="solid-fill-04" top="4%" right="-22rem"></Blob>
    <Blob kind="solid-fill-02" top="25%" left="-22rem"></Blob>
    <Blob kind="grad-dots-05" top="33%" left="-16rem"></Blob>
    <Blob kind="grad-dots-03" top="60%" right="-16rem"></Blob>
    <Blob kind="solid-fill-05" top="65%" left="-7rem"></Blob>
    <Blob kind="grad-dots-02" top="80%" left="-16rem"></Blob>

    <main id="main-content">
      <h1>How to Join the Pledge</h1>

      <div class="highlight-box">
        <div class="number">
          <span class="circled">1</span>
        </div>
        <div class="step">
          <h3><span class="inline-number">1. </span>Pay</h3>
          <p>
            Pay $2,000 per full-time equivalent developer on staff directly to any Open Source maintainers or
            <a href="https://fossfoundation.info/" target="_blank">foundations</a>
            of your choice, keeping in mind to meet
            <a href="/about/#what-payments-are-eligible">our guidelines</a>.
            Of course, this includes any payments you've already made this year.
          </p>
        </div>
      </div>
      <div class="highlight-box">
        <div class="number">
          <span class="circled">2</span>
        </div>
        <div class="step">
          <h3><span class="inline-number">2. </span>Publish</h3>
          <p>
            Publish a post on your company website, detailing the payments your company has made in the past year. This
            post can be short and sweet — check out posts by
            <a
              href="https://blog.sentry.io/we-just-gave-500-000-dollars-to-open-source-maintainers/" target="_blank"
              >Sentry</a
            >
            or
            <a href="https://astral.sh/blog/astral-oss-fund" target="_blank">Astral</a>.
          </p>

          <p>
            A post should include the year, your developer count, total paid, and payment breakdown, like so:
          </p>

          <fieldset>
            <legend>Example post</legend>
            <p>
              Today, we're joining the Open Source Pledge. In <strong>{currentYear}</strong>, we had
              <strong>14 developers</strong> on our team and paid <strong>$30,000</strong> to Open Source maintainers:
            </p>
            <ul>
              <li>$10,000 to <em>foo</em></li>
              <li>$10,000 to <em>bar</em></li>
              <li>$5,000 to <em>baz</em></li>
              <li>$2,500 to <em>quux</em></li>
              <li>$2,500 to <em>qux</em></li>
            </ul>
          </fieldset>
        </div>
      </div>
      <div class="highlight-box">
        <div class="number">
          <span class="circled">3</span>
        </div>
        <div class="step">
          <h3><span class="inline-number">3. </span>Promote</h3>
          Let us know you'd like to join, by creating a
          <a href="https://github.com/opensourcepledge/opensourcepledge.com/issues" target="_blank"
            >GitHub issue</a
          > that includes:

          <ul>
            <li>A link to your post.</li>
            <li>A short (&lt;600 character) description of your company, including why you're joining.</li>
            <li>Your branding materials — SVG strongly preferred!</li>
          </ul>

          <p>
            You'll then officially be a member — your company and reports will show up on
            <a href="/members">our website</a>,
            and you'll be entitled to use the
            <a href="/resources">Pledge Member logo</a>
            on your website and marketing materials.
          </p>
        </div>
      </div>
      <div class="highlight-box">
        <div class="number">
          <span class="circled">4</span>
        </div>
        <div class="step">
          <h3><span class="inline-number">4. </span>Renew</h3>

          <p>
            To remain a member, you should publish a new post at some point each year, and let us know about it.
          </p>
        </div>
      </div>

      <h2>Questions?</h2>

      <p>
        Feel free to
        <a href="https://github.com/opensourcepledge/opensourcepledge.com/issues/new" target="_blank"
          >open an issue</a
        > or <a href="https://cal.com/opensourcepledge/intro" target="_blank">schedule a call</a>.
      </p>
    </main>
  </div>
</Layout>

<style>
  h1 {
    font-size: 2rem;
  }
  .highlight-box {
    display: flex;
    .number {
      flex: 0 0 4rem;
    }
    .inline-number {
      display: none;
    }
    .step {
      /* QUIRK(@vlad): https://stackoverflow.com/a/66689926/3803222 */
      min-width: 0;
    }
    @media (max-width: 800px) {
      display: block;
      .number {
        display: none;
      }
      .inline-number {
        display: inline;
      }
    }
  }
</style>
