---
// © Functional Software, Inc. dba Sentry
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Blob from "../components/Blob.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Join the Pledge">
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="45%" right="-11rem"></Blob>
    <Blob kind="grad-dots-04" top="2%" right="-2rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="solid-fill-04" top="4%" right="-22rem"></Blob>
    <Blob kind="solid-fill-02" top="25%" left="-22rem"></Blob>
    <Blob kind="grad-dots-05" top="33%" left="-16rem"></Blob>
    <Blob kind="grad-dots-03" top="60%" right="-16rem"></Blob>
    <Blob kind="solid-fill-05" top="65%" left="-7rem"></Blob>
    <Blob kind="grad-dots-02" top="80%" left="-16rem"></Blob>

    <main id="main-content">
      <h1>How to Join the Pledge</h1>

      <div class="highlight-box">
        <div class="number">
          <span class="circled">1</span>
        </div>
        <div class="step">
          <h3><span class="inline-number">1. </span>Pay $2,000 per full-time equivalent developer on staff</h3>
          directly to any Open Source maintainers or
          <a href="https://fossfoundation.info/" target="_blank">foundations</a>
          of your choice. The projects you're paying should meet the
          <a href="https://opensource.org/osd" target="_blank">Open Source Definition</a> and <a
          href="/about/#what-payments-are-eligible">our guidelines</a>.
          Of course, this includes any payments you've already made this year.
        </div>
      </div>
      <div class="highlight-box">
        <div class="number">
          <span class="circled">2</span>
        </div>
        <div class="step">
          <h3><span class="inline-number">2. </span>Publish a post</h3> on your company website,
          detailing the payments your company has made in the past year. This post can be
          short and sweet — check out sample posts by
          <a
            href="https://blog.sentry.io/we-just-gave-500-000-dollars-to-open-source-maintainers/" target="_blank"
            >Sentry</a
          >
          or
          <a href="https://astral.sh/blog/astral-oss-fund" target="_blank">Astral</a>.

          <p>
            <strong>Required:</strong>
            <ul>
              <li>The year you're reporting for. You can report for a year at any point during that year.</li>
              <li>Your total of payments made for that year.</li>
              <li>Your average number of employed full-time equivalent developers for that year.</li>
              <li>
                An itemized list of how much was paid to each maintainer/foundation. When this is undesirable or
                unrealistic, we ask that you make a best effort. Tools you might find useful:
                the <a href="https://github.com/opensourcepledge/osp-github-reporter" target="_blank"
                  >Open Source Pledge GitHub Reporter</a
                >
                and
                <a href="https://thanks.dev" target="_blank">thanks.dev</a>.
              </li>
            </ul>
          </p>
        </div>
      </div>
      <div class="highlight-box">
        <div class="number">
          <span class="circled">3</span>
        </div>
        <div class="step">
          <h3><span class="inline-number">3. </span>Let us know you'd like to join,</h3>
          by creating a <a href="https://github.com/opensourcepledge/opensourcepledge.com/issues" target="_blank"
            >GitHub issue</a
          > that includes.

          <ul>
            <li>A link to your post.</li>
            <li>A short (&lt;600 character) description of your company, including why you're joining.</li>
            <li>Your branding materials — SVG strongly preferred!</li>
          </ul>
        </div>
      </div>
      <div class="highlight-box">
        <div class="number">
          <span class="circled">4</span>
        </div>
        <div class="step">
          <h3><span class="inline-number">4. </span>Celebrate your membership!</h3>
          <p>
            Once that's all done, you'll officially be a member. This means that your company and reports will show up on
            <a href="/members">our website</a>,
            and you'll be entitled to use the
            <a href="/resources">Open Source Pledge Member logo and our other promotional resources</a>
            on your website and marketing materials.
          </p>
        </div>
      </div>
      <div class="highlight-box">
        <div class="number">
          <span class="circled">5</span>
        </div>
        <div class="step">
          <h3><span class="inline-number">5. </span>Renew every year.</h3>

          <p>
            To remain a member, every year, you should publish another post detailing that year's payments, and let
            us know about it.
          </p>
        </div>
      </div>

      <h2>Questions?</h2>

      <p>
        Feel free to
        <a href="https://github.com/opensourcepledge/opensourcepledge.com/issues/new" target="_blank"
          >open an issue</a
        > or <a href="https://cal.com/opensourcepledge/intro" target="_blank">schedule a call</a>.
      </p>
    </main>
  </div>
</Layout>

<style>
  h1 {
    font-size: 2rem;
  }
  .highlight-box {
    display: flex;
    .number {
      flex: 0 0 4rem;
    }
    .inline-number {
      display: none;
    }
    .step {
      /* QUIRK(@vlad): https://stackoverflow.com/a/66689926/3803222 */
      min-width: 0;
    }
    @media (max-width: 800px) {
      display: block;
      .number {
        display: none;
      }
      .inline-number {
        display: inline;
      }
    }
  }
</style>
