---
// © 2024 Functional Software, Inc. dba Sentry
// © 2024 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Blob from "../components/Blob.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Join the Pledge">
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="45%" right="-11rem"></Blob>
    <Blob kind="grad-dots-04" top="2%" right="-2rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="solid-fill-04" top="4%" right="-22rem"></Blob>
    <Blob kind="solid-fill-02" top="25%" left="-22rem"></Blob>
    <Blob kind="grad-dots-05" top="33%" left="-16rem"></Blob>
    <Blob kind="grad-dots-03" top="60%" right="-16rem"></Blob>
    <Blob kind="solid-fill-05" top="65%" left="-7rem"></Blob>
    <Blob kind="grad-dots-02" top="80%" left="-16rem"></Blob>

    <main id="main-content">
      <section>
        <h1>Join the Pledge</h1>

        <p>
          Feel free to
          <a href="https://github.com/opensourcepledge/opensourcepledge.com/issues/new"
            >open an issue</a
          > or <a href="https://cal.com/opensourcepledge/intro">schedule a call</a> if
          you have any questions.
        </p>

        <h2>How to Join</h2>

        <div class="highlight-box">
          <div class="number">
            <span class="circled">1</span>
          </div>
          <div class="step">
            <h3><span class="inline-number">1. </span>Pay $2,000 per full-time equivalent developer on staff</h3>
            directly to any Open Source maintainers or
            <a href="https://fossfoundation.info/">foundations</a>
            of your choice, and commit to doing so in future years. The projects you're paying should meet the
            <a href="https://opensource.org/osd">Open Source Definition</a> and <a
            href="/about/#what-payments-are-eligible">our guidelines</a>.
            Of course, this includes any existing payments you've made this year. If you need help figuring out which
            projects you depend on, you can use a tool like <a href="https://thanks.dev">thanks.dev</a>.

            <p
              >Note that only cash payments to maintainers of Open Source projects, or to Open Source
              <a href="https://fossfoundation.info/">foundations</a>, count towards the pledge. We understand that
              companies contribute to the Open Source ecosystem in other ways than cash payments. These contributions
              are important, and the blog post is the best place to show them off.</p
            >
          </div>
        </div>
        <div class="highlight-box">
          <div class="number">
            <span class="circled">2</span>
          </div>
          <div class="step">
            <h3><span class="inline-number">2. </span>Publish a blog post</h3> or equivalent on your company website,
            detailing the payments your company has made to the Open Source ecosystem the past year. This post does not
            need to be long or exhaustive. If in doubt, check out sample posts by
            <a
              href="https://blog.sentry.io/we-just-gave-500-000-dollars-to-open-source-maintainers/"
              >Sentry</a
            >
            or
            <a href="https://astral.sh/blog/astral-oss-fund">Astral</a>.

            <p>
              <strong>Required:</strong>
              <ul>
                <li>The year you're reporting for. You can report for a year at any point during that year.</li>
                <li>Your total of payments made for that year.</li>
                <li>Your average number of employed full-time equivalent developers for that year.</li>
              </ul>
            </p>

            <p>
              <strong>Recommended:</strong>

              <ul>
                <li>
                  An itemized list of how much was paid to each maintainer/foundation. When this is undesirable or
                  unrealistic, we ask that you make a best effort. To more conveniently get an itemized list, consider
                  using the
                  <a href="https://github.com/opensourcepledge/osp-github-reporter"
                    >Open Source Pledge GitHub Reporter</a
                  >,
                  or
                  <a href="https://thanks.dev">thanks.dev</a>.
                </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="highlight-box">
          <div class="number">
            <span class="circled">3</span>
          </div>
          <div class="step">
            <h3><span class="inline-number">3. </span>Let us know you'd like to join,</h3>
            by <a href="https://github.com/opensourcepledge/opensourcepledge.com/issues">creating a GitHub issue</a>.

            <p>The issue should include:</p>

            <ul>
              <li>A link to your blog post.</li>
              <li>A short (less than 600 character) description of your company, including why you're joining.</li>
              <li>Your branding materials.</li>
              </li>
            </ul>

            <p>
              For branding materials, we need at least the following, or your nearest equivalents to them:

              <ul>
                <li
                    >A glyph/icon in a square area with a non-transparent background
                    (see <a href="/members">examples</a>).</li
                >
                <li>A glyph/icon in a square area with a transparent background.</li>
                <li>A full name/wordmark in a wide rectangle with a transparent background.</li>
              </ul>

              <p>
                Try to include vector files (e.g. SVG), or at least high-resolution (&gt; 800px wide) raster files.
              </p>
            </p>
          </div>
        </div>

        <p>
          Once that's all done, you'll officially be a member. This means that your company and reports will show up on
          <a href="/members">our website</a>,
          and you'll be entitled to use the
          <a href="/resources">Open Source Pledge Member logo and our other promotional resources</a>
          on your website and marketing materials if you wish. Thank you so much for joining us in contributing to a
          healthy Open Source ecosystem that supports maintainers.
        </p>

        <h2>Future Annual Reports</h2>

        <p>
          To remain a member, every year, you should publish a blog post and submit it in an issue as in step 2 above.
          It does not matter which date you publish your blog posts on, as long as you're submitting one per year.
        </p>

        <h2>Questions?</h2>

        <p>
          Feel free to
          <a href="https://github.com/opensourcepledge/opensourcepledge.com/issues/new"
            >open an issue</a
          > or <a href="https://cal.com/opensourcepledge/intro">schedule a call</a>.
        </p>
      </section>
    </main>
  </div>
</Layout>

<style>
  .highlight-box {
    display: flex;
    .number {
      flex: 0 0 4rem;
    }
    .inline-number {
      display: none;
    }
    .step {
      /* QUIRK(@vlad): https://stackoverflow.com/a/66689926/3803222 */
      min-width: 0;
    }
    @media (max-width: 800px) {
      display: block;
      .number {
        display: none;
      }
      .inline-number {
        display: inline;
      }
    }
  }
</style>
