---
// © 2024 Chad Whitacre <chadwhitacre@sentry.io>
// © 2024 Vlad-Stefan Harbuz <vlad@vladh.net>
// SPDX-License-Identifier: Apache-2.0

import Blob from "../components/Blob.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Join the Pledge">
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="45%" right="-11rem"></Blob>
    <Blob kind="grad-dots-04" top="2%" right="-2rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="solid-fill-04" top="4%" right="-22rem"></Blob>
    <Blob kind="solid-fill-02" top="25%" left="-22rem"></Blob>
    <Blob kind="grad-dots-05" top="33%" left="-16rem"></Blob>
    <Blob kind="grad-dots-03" top="60%" right="-16rem"></Blob>
    <Blob kind="solid-fill-05" top="65%" left="-7rem"></Blob>
    <Blob kind="grad-dots-02" top="80%" left="-16rem"></Blob>

    <main id="main-content">
      <section>
        <h1>Join the Pledge</h1>

        <p>Our companies feast at the Open Source table year after year. Through
        the Open Source Pledge, we pay the maintainers of the software we
        consume. This prevents the maintainer burnout that flares up in
        high-profile security incidents such as XZ, Log4j, and Heartbleed.</p>

        <h2>How to Join</h2>

        <div class="highlight-box">
          <div class="number">
            <span class="circled">1</span>
          </div>
          <div class="step">
            <h3><span class="inline-number">1. </span>Pay $2,000 per full-time equivalent developer on staff</h3>
            to any Open Source maintainers or
            <a href="https://fossfoundation.info/">foundations</a>
            of your choice, and commit to doing so in future years. The projects you're donating to should meet the
            <a href="https://opensource.org/osd">Open Source Definition</a>.
            Of course, this includes any existing donations you've made this year. If you need help figuring out which
            projects you depend on, you can use a tool like <a href="https://thanks.dev">Thanks.dev</a>.
          </div>
        </div>
        <div class="highlight-box">
          <div class="number">
            <span class="circled">2</span>
          </div>
          <div class="step">
            <h3><span class="inline-number">2. </span>Publish a blog post</h3>
            or equivalent on your company website, detailing the contributions your company has made to the Open Source
            ecosystem the past year. This post does not need to be long or exhaustive. If in doubt, check out sample posts
            by
            <a
              href="https://blog.sentry.io/we-just-gave-500-000-dollars-to-open-source-maintainers/"
              >Sentry</a
            >
            or
            <a href="https://astral.sh/blog/astral-oss-fund">Astral</a>.

            Ideally, this post would include an itemized list of how much was paid to each maintainer/foundation. When
            this is undesirable or unrealistic, we ask that you make a best effort. To more conveniently get an
            itemized list, consider using the
            <a href="https://github.com/opensourcepledge/osp-github-reporter">Open Source Pledge GitHub Reporter</a>,
            or
            <a href="https://thanks.dev">Thanks.dev</a>.
          </div>
        </div>
        <div class="highlight-box">
          <div class="number">
            <span class="circled">3</span>
          </div>
          <div class="step">
            <h3><span class="inline-number">3. </span>Create a short JSON file with your company and donation info,</h3>
            and host it at any URL you wish. Update it at least once per calendar year — we'll fetch it regularly.

            <p>
              Want to do things by hand?
              Check out an
              <a
                href="https://github.com/opensourcepledge/opensourcepledge.com/blob/main/contrib/example-schema.json"
                >example JSON report</a
              >
              or the
              <a
                href="https://github.com/opensourcepledge/opensourcepledge.com/blob/main/src/content/config.ts"
                >full schema</a
              >.
            </p>

            <p>Want us to create your JSON file for you? Fill in this form:</p>

            <div class="divider">
              <h4>JSON Creation Form</h4>
            </div>

            <form x-data="jsonBuilder" action="">
              <div class="control">
                <label>Company name</label>
                <input type="text" x-model="details.name" placeholder="Foocorp">
              </div>
              <div class="control">
                <label>
                  Company description, incl. relationship to Open Source
                </label>
                <textarea
                  x-model="details.description"
                  placeholder="We build widgets that make the world better. We use a lot of Open Source software, and we think it's only right that we give back."
                ></textarea>
              </div>
              <div class="control">
                <label>
                  Link to info about your company's Open Source commitments
                  <small>Don't have such a page? Link to an annual report blog post!</small>
                </label>
                <input type="url" x-model="details.urlLearnMore" placeholder="https://foocorp.com/open-source">
                <div class="hint">Please make sure this is a valid URL.</div>
              </div>
              <div class="control">
                <label>
                   Link to logo
                   <small>400px to 800px, non-transparent background — try using your GitHub avatar!</small>
                </label>
                <input
                  type="url"
                  x-model="details.urlSquareLogoWithBackground"
                  placeholder="https://foocorp.com/static/logo.png"
                >
                <div class="hint">Please make sure this is a valid URL.</div>
              </div>
              <template x-for="(annualReport, index) in details.annualReports">
                <div class="annual-report">
                  <h5>Yearly report <span x-text="index + 1"></span></h5>
                  <div class="control">
                    <label>Year ending</label>
                    <input
                      type="text"
                      x-model="annualReport.dateYearEnding"
                      pattern="[0-9]{4,4}-[0-9]{2,2}-[0-9]{2,2}"
                      placeholder="2024-12-31"
                    >
                    <div class="hint">Please make sure the date is formatted as YYYY-MM-DD.</div>
                  </div>
                  <div class="control">
                    <label>Link to blog post with report</label>
                    <input
                      type="url"
                      x-model="annualReport.url"
                      placeholder="https://foocorp.com/blog/we-just-gave-money-to-open-source-maintainers"
                    >
                    <div class="hint">Please make sure this is a valid URL.</div>
                  </div>
                  <div class="control">
                    <label>
                      Average employed
                      <abbr title="full-time equivalent">FTE</abbr>
                      developers for this period
                    </label>
                    <input type="number" x-model.number="annualReport.averageNumberOfDevs" placeholder="52">
                  </div>
                  <div class="control">
                    <label>Total payments to maintainers and foundations</label>
                    <div class="input-wrapper">
                      <span class="prefix">US $</span>
                      <input type="number" x-model.number="annualReport.payments" placeholder="150000">
                    </div>
                  </div>
                  <div class="control">
                    <label>
                      Monetary value of time (optional)
                      <small>
                        Value of employee time spent contributing to Open Source. Doesn't count towards pledge amount.
                      </small>
                    </label>
                    <div class="input-wrapper">
                      <span class="prefix">US $</span>
                      <input type="number" x-model.number="annualReport.monetaryValueOfTime" placeholder="0">
                    </div>
                  </div>
                  <div class="control">
                    <label>
                      Monetary value of material (optional)
                      <small>
                        Value of gifts in kind, e.g. cloud service credits. Doesn't count towards pledge amount.
                      </small>
                    </label>
                    <div class="input-wrapper">
                      <span class="prefix">US $</span>
                      <input type="number" x-model.number="annualReport.monetaryValueOfMaterials" placeholder="0">
                    </div>
                  </div>
                </div>
              </template>
              <div class="buttons">
                <template x-if="details.annualReports.length > 1">
                  <button type="button" @click="removeAnnualReport()">Remove year</button>
                </template>
                <button type="button" @click="addAnnualReport">Add year (optional)</button>
              </div>
              <p>Here's your JSON:</p>
              <pre x-text="makeJson(details)"></pre>
            </form>
          </div>
        </div>
        <div class="highlight-box">
          <div class="number">
            <span class="circled">4</span>
          </div>
          <div class="step">
            <h3><span class="inline-number">4. </span>Create a pull request to add yourself to the member list</h3>
            by changing
            <a
              href="https://github.com/opensourcepledge/opensourcepledge.com/blob/main/members.csv"
              >members.csv</a
            >. The format is <code>company-slug,json-url</code>. Please note that there should be no space in the company
            slug.
          </div>
        </div>
        <div class="highlight-box">
          <div class="number">
            <span class="circled">5</span>
          </div>
          <div class="step">
            <h3><span class="inline-number">5. </span>Include links to your high-resolution logo,</h3>
            and optionally any other branding materials, in the pull request so that we can promote you! For those
            pledging before September 24, this means you'll have a chance to be included in our major outdoor advertising
            campaign, subject to available space and depending on how many pledges we get.
          </div>
        </div>

        <p>
          Once that's all done, you'll officially be a member. This means that your company and reports will show up on
          <a href="https://opensourcepledge.com/members">our website</a>,
          and you'll be entitled to use the
          <a
            href="https://github.com/opensourcepledge/opensourcepledge.com/tree/main/public/logos"
            >Open Source Pledge Member logo</a
          >
          on your website and marketing materials if you wish. Thank you so much for joining us in contributing to a
          healthy Open Source ecosystem that supports maintainers.
        </p>
        <p>
          If you have any questions, feel free to
          <a href="https://github.com/opensourcepledge/opensourcepledge.com/issues/new"
            >open an issue</a
          >, and the relevant member of our team will get back to you.
        </p>
      </section>
    </main>
  </div>
</Layout>

<style>
  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  .annual-report {
    margin: 1rem 0;
    padding-left: 0.5rem;
    border-left: 3px solid var(--color-secondary);
    h5 {
      margin-left: -0.5rem;
      padding: 0 0.5rem;
      background: var(--color-secondary);
      color: var(--color-bg);
      font-size: 1rem;
      font-weight: normal;
    }
  }
  .highlight-box {
    display: flex;
    .number {
      flex: 0 0 4rem;
    }
    .inline-number {
      display: none;
    }
    .step {
      /* QUIRK(@vladh): https://stackoverflow.com/a/66689926/3803222 */
      min-width: 0;
    }
    @media (max-width: 800px) {
      display: block;
      .number {
        display: none;
      }
      .inline-number {
        display: inline;
      }
    }
  }
</style>

<script>
  import Alpine from 'alpinejs'
  import type { Member, MemberReport } from "../content/config.ts";

  document.addEventListener('alpine:init', () => {
    const DEFAULT_ANNUAL_REPORT = {
      url: '',
      dateYearEnding: '',
      averageNumberOfDevs: null,
      payments: null,
      monetaryValueOfTime: null,
      monetaryValueOfMaterials: null,
    };
    Alpine.data('jsonBuilder', () => ({
        details: {
          name: '',
          description: '',
          urlLearnMore: '',
          urlSquareLogoWithBackground: '',
          annualReports: [{ ...DEFAULT_ANNUAL_REPORT }],
        },

        makeJson(details: Member) {
          details.annualReports.forEach((report: MemberReport) => {
            report.averageNumberOfDevs ||= 0;
            report.payments ||= 0;
            report.monetaryValueOfTime ||= 0;
            report.monetaryValueOfMaterials ||= 0;
          });
          return JSON.stringify(details, undefined, 2);
        },

        addAnnualReport() {
          this.details.annualReports.push({ ...DEFAULT_ANNUAL_REPORT });
        },

        removeAnnualReport() {
          if (this.details.annualReports.length > 1) {
            this.details.annualReports.splice(-1);
          }
        }
    }))
  })
</script>
