---
// © 2024 Functional Software, Inc. dba Sentry
// SPDX-License-Identifier: Apache-2.0

import Blob from "../components/Blob.astro";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resources">
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="42%" left="-13rem"></Blob>
    <Blob kind="grad-dots-06" top="37%" right="-5rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="solid-fill-05" top="20%" right="-16rem"></Blob>
    <Blob kind="solid-fill-04" top="90%" left="-20rem"></Blob>
    <Blob kind="grad-dots-03" top="10%" left="-15rem"></Blob>

    <main id="main-content">
      <section>
        <h1>Resources</h1>
        <p>
            This page is a resource for <a href="https://opensourcepledge.com/">Open Source Pledge</a> members, ecosystem partners, and advocates.
        </p>
        <p>
            The Pledge aims to upend the status quo in OSS, and establish the norm that companies who derive massive value from free software should also meaningfully support the sustainability of these projects. We can't make this norm materialize out of thin air. We rely on our partners to amplify the message and stand together as examples of the change we wish to see. Without the support of our partners, the Open Source Pledge is just a website.
        </p>
        <p>
            In this partner kit, you'll find tools that will help you recruit new members, share the news about the Pledge and what it stands for with your network, and generally add to the discourse on methods to solve the OSS sustainability crisis. Discourse around the merits of supporting maintainers with cash payments-even, and especially, if many disagree-is the first step in changing the conversation and challenging the status quo that gave us Log4Shell and the xz backdoor. Feel free to let us know what else we can provide.
        </p>
        <br>
        <div class="highlight-box">
          <h3>
            Everyone
          </h3>
          <ul>
            <li><a href="#">Social Media Kit</a></li>
            <li><a href="#">Email templates</a> - for recruiting</li>
          </ul>
        </div>
        <div class="highlight-box">
          <h3>
            Members
          </h3>
          <ul>
            <li><a href="#">Pledge Logos</a> - Use for blog post art, social collateral, co-branding</li>
            <li><a href="#">Member badges</a> - Place these prominently on your /careers page and/or website footer</li>
          </ul>
        </div>
        <div class="highlight-box">
          <h3>
            Ecosystem Partners
          </h3>
          <ul>
            <li><a href="#">Our recruiting pitch deck</a> - to share with potential members</li>
            <li><a href="#">Press release/blog template</a></li>
          </ul>
        </div>
        <div class="highlight-box">
          <h3>
            Advocates
          </h3>
          <ul>
            <li><a href="#">Social Media Kit</a> - See social promotion guidelines below</li>
          </ul>
        </div>
      </section>

      <section>
        <h2>
          Social promotion
        </h2>
        <p>
          We invite you to talk about the Pledge IRL, in DMs, and even on public social channels. In the spirit of openness, we've been <a href="#">building the Pledge in public</a>.
        </p>
      </section>

      <section>
        <h2>Stickers</h2>
        <p>Go make stickers!</p>

      <section class="resource">
        <h2>Logo</h2>
        <img src="/resources/stickers/open-source-pledge-logo-sticker.svg">
        <Button href="/resources/stickers/open-source-pledge-logo-sticker.png">PNG</Button>
        <Button href="/resources/stickers/open-source-pledge-logo-sticker.svg">SVG</Button>
      </section>
      <section class="resource">
        <h2>Money Machine</h2>
        <img src="/resources/stickers/open-source-pledge-money-machine.png">
        <Button href="/resources/stickers/open-source-pledge-money-machine.png">PNG</Button>
      </div>
    </section>
  </div>
</Layout>

<style>
  .resource {
    img {
      display: block;
      max-width: 20rem;
      margin: 2rem 0;
    }
    .highlight-box {
      display: flex;
    }
  }
</style>
