---
// © Functional Software, Inc. dba Sentry
// SPDX-License-Identifier: Apache-2.0

import Blob from "../components/Blob.astro";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resources">
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="42%" left="-13rem"></Blob>
    <Blob kind="grad-dots-06" top="37%" right="-5rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="solid-fill-05" top="20%" right="-16rem"></Blob>
    <Blob kind="solid-fill-04" top="90%" left="-20rem"></Blob>
    <Blob kind="grad-dots-03" top="10%" left="-15rem"></Blob>

    <main id="main-content">
      <section>
        <h1>Resources</h1>
        <p>
          This page is a resource for Open Source Pledge members, ecosystem partners, and advocates.
        </p>
        <p>
          The Pledge aims to upend the status quo in OSS, and establish the norm that companies who derive massive
          value from free software should also meaningfully support the sustainability of these projects. We can't
          make this norm materialize out of thin air. We rely on our partners to amplify the message and stand
          together as examples of the change we wish to see. Without the support of our partners, the Open Source
          Pledge is just a website.
        </p>
        <p>
          In this partner kit, you'll find tools that will help you recruit new members, share the news about the
          Pledge and what it stands for with your network, and generally add to the discourse on methods to solve the
          OSS sustainability crisis. Discourse around the merits of supporting maintainers with cash payments — even,
          and especially if, many disagree — is the first step in changing the conversation and challenging the status
          quo that gave us Log4Shell and the XZ backdoor. Feel free to let us know what else we can provide.
        </p>
        <br>
        <div class="highlight-box">
          <h3>
            Everyone
          </h3>
          <ul>
            <li><a href="https://docs.google.com/document/d/1xLNPoy0IYUJykUi-ohHqnxjeU-Xt9POX6VDnE2ws_GU" target="_blank">Social Media Kit</a></li>
            <li><a href="https://docs.google.com/document/d/1vLlYN640Q-pEBSMinRgOpKLtKenTIbi7jTL_PJErS2k" target="_blank">Email Templates</a> — For recruiting</li>
            <li><a href="#nasdaq">Nasdaq Photos</a> — For promoting the Pledge online</li>
            <li><a href="#stickers">Stickers</a> — For promoting the Pledge in real life</li>
          </ul>
        </div>
        <div class="highlight-box">
          <h3>
            Members
          </h3>
          <ul>
            <li><a href="/resources/pledge-logos" target="_blank">Pledge Logos</a> — Use for blog post art, social collateral, co-branding</li>
            <li><a href="/resources/member-badges">Member Badges and Social Icons</a> — Place these prominently on your /careers page and/or website footer</li>
          </ul>
        </div>
        <div class="highlight-box">
          <h3>
            Ecosystem Partners
          </h3>
          <ul>
            <li><a href="/open-source-pledge-pitch-deck.pdf" target="_blank">Our Recruiting Pitch Deck</a> — To share with potential members</li>
            <li><a href="https://docs.google.com/document/d/1GsicUBC3pTNZmR4AiFGDHDQ7-qgNgyJvR_Y8QZ_3LcU" target="_blank">Press Release/Blog Template</a></li>
          </ul>
        </div>
        <div class="highlight-box">
          <h3>
            Advocates
          </h3>
          <ul>
            <li><a href="https://docs.google.com/document/d/1xLNPoy0IYUJykUi-ohHqnxjeU-Xt9POX6VDnE2ws_GU" target="_blank">Social Media Kit</a> — See social promotion guidelines below</li>
          </ul>
        </div>
      </section>

      <section>
        <h2>
          Social Promotion
        </h2>
        <p>
          We invite you to talk about the Pledge IRL, in DMs, and even on public social channels. In the spirit of
          openness, we've been
          <a href="https://github.com/opensourcepledge" target="_blank">building the Pledge in public</a>.
        </p>
      </section>

      <section id="nasdaq">
        <h2>Nasdaq Photos</h2>
        <p>The Pledge has been featured on the big Nasdaq screen in Times Square multiple times. Here are the pics!</p>

        <h3>Oct 2024</h2>
        <img
          src="/images/nasdaq-2024-10@1000px.jpg"
          alt="The big Nasdaq screen in Times Square bearing a message saying “Nasdaq congratulates the companies launching the Open Source Pledge”, and some company logos underneath"
          >
        <Button href="/images/nasdaq-2024-10.jpg" target="_blank">Full res</Button>

        <h3>May 2025</h2>
        <img
          src="/images/nasdaq-2025-05@1000px.jpg"
          alt="The big Nasdaq screen in Times Square bearing a message saying “Nasdaq congratulates the latest companies to join Open Source Pledge”, and some company logos underneath"
          >
        <Button href="/images/nasdaq-2025-05.jpg" target="_blank">Full res</Button>

        <h3>Oct 2025</h2>
        <img
          src="/images/nasdaq-2025-10@1000px.jpg"
          alt="The big Nasdaq screen in Times Square bearing a message saying “Nasdaq celebrates one year of the Open Source Pledge and the companies who pay maintainers”, and many company logos underneath"
          >
        <Button href="/images/nasdaq-2025-10.jpg" target="_blank">Full res</Button>
      </section>

      <section id="stickers">
        <h2>Stickers</h2>
        <p>Go make stickers!</p>

        <div class="sticker">
          <h3>Logo</h2>
          <div class="sticker__image">
            <img src="/resources/stickers/open-source-pledge-logo-sticker.svg">
          </div>
          <Button href="/resources/stickers/open-source-pledge-logo-sticker.png" target="_blank">PNG</Button>
          <Button href="/resources/stickers/open-source-pledge-logo-sticker.svg" target="_blank">SVG</Button>
        </div>
        <div class="sticker">
          <h3>Money Machine</h2>
          <div class="sticker__image">
            <img src="/resources/stickers/open-source-pledge-money-machine.png">
          </div>
          <Button href="/resources/stickers/open-source-pledge-money-machine.png" target="_blank">PNG</Button>
        </div>
      </section>

      <section>
        <h2>Licensing</h2>

        <p>
          The Open Source Pledge name, the Open Source Pledge logo, and the Open Source Pledge illustrations provided
          above (together, the “Open Source Pledge trademarks”) are trademarks of, and governed by the copyright of,
          Functional Software, Inc. d/b/a Sentry. However, we want you to be able to use these materials to spread the
          word about the Open Source Pledge and its members. So here are some guidelines as to how you <em>can</em> use
          these materials. You are not authorized to use these materials other than in the ways set out here.
        </p>

        <h3>Allowed Use</h3>

        <p>
          You may use the Open Source Pledge trademarks to refer to, and promote, the Open Source Pledge. This includes,
          for example (1) printing and distributing stickers, t-shirts or other physical items featuring the Open Source
          Pledge trademarks both commerically and non-commercially; or (2) using the Open Source Pledge logo in a blog
          post about the Open Source Pledge. When using the Open Source Pledge trademarks in this way, you do not
          require our written permission. When using the Open Source Pledge trademarks digitally, please make the
          trademarks link back to
          <a href="https://opensourcepledge.com">https://opensourcepledge.com</a>
          when possible.
        </p>

        <h3>Physical Items</h3>

        <p>
          When using the Open Source Pledge trademarks to create physical items such as stickers, you are free to sell
          such items, but we encourage you to use proceeds from such sales to pay maintainers of Open Source software.
          When selling such items, you should truthfully advertise to customers how much of the selling price, if any,
          will be paid to maintainers of Open Source software. You must also make it clear that such items are not
          official Open Source Pledge merchandise.
        </p>

        <h3>Non-Exhaustive Examples of Disallowed Use</h3>

        <ul>
          <li>
            You may not sell the Open Source Pledge trademarks, or works containing them, other than in the specific
            conditions regarding physical items set out above.
          </li>
          <li>
            You may not use the Open Source Pledge trademarks in any way that misrepresents the Open Source Pledge or
            causes confusion. For example, you may not use the Open Source Pledge trademarks:
            <ul>
              <li>
                to refer to something other than the Open Source Pledge;
              </li>
              <li>
                to falsely imply that certain entities are Open Source Pledge Members;
              </li>
              <li>
                to falsely imply sponsorship or endorsement by the Open Source Pledge;
              </li>
              <li>
                on a website styled in such a way that would make it confusing for users whether or not the website is
                affiliated with the Open Source Pledge; or
              </li>
              <li>
                in domain names, social media accounts, company names, or other names, in a way that implies
                endorsement by the Open Source Pledge.
              </li>
            </ul>
          </li>
          <li>
            You may not use the Open Source Pledge trademarks to disparage the Open Source Pledge or its reputation.
          </li>
          <li>
            You may not alter the Open Source Pledge trademarks, for example by creating your own variations of the
            logo or illustrations.
          </li>
        </ul>

        <p>
          Resources belonging to third parties, such as member logos, should only be used with approval from their
          respective owners.
        </p>

        <p>
          Any questions regarding the above? Feel free to contact us, either by
          <a href="https://github.com/opensourcepledge/opensourcepledge.com/issues/new" target="_blank">opening an issue</a>
          or
          <a href="mailto:chadwhitacre@sentry.io?&cc=vlad@vlad.website;michael.selvidge@sentry.io;greg.kumparak@sentry.io"
            >via email</a
          >.
        </p>
      </section>
    </main>
  </div>
</Layout>

<style>
  .sticker {
    .sticker__image {
      max-width: 12rem;
      padding: 1rem;
      background-image: url(/images/checkerboard-light.svg);
      background-size: 16px 16px;
      img {
        display: block;
      }
    }
  }
</style>
