---
// © 2025 Functional Software, Inc. dba Sentry
// SPDX-License-Identifier: Apache-2.0

import Blob from "../../components/Blob.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Pledge Logos">
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="42%" left="-13rem"></Blob>
    <Blob kind="grad-dots-06" top="37%" right="-5rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="solid-fill-05" top="20%" right="-16rem"></Blob>
    <Blob kind="solid-fill-04" top="90%" left="-20rem"></Blob>
    <Blob kind="grad-dots-03" top="10%" left="-15rem"></Blob>

    <main id="main-content">
      <section>
        <h1>Pledge Logos</h1>
        <p>
          Feel free to use our logo for blog post art, social collateral, co-branding and so on.
          You can choose whichever version is most appropriate for you.
        </p>

        <div class="resources">
          <figure class="resource resource--light">
            <div class="resource__image">
              <img src="/logos/opensourcepledge-logo-horiz-color@2x.svg">
              <div class="resource-guide resource-guide--va"></div>
              <div class="resource-guide resource-guide--vb"></div>
              <div class="resource-guide resource-guide--ha"></div>
              <div class="resource-guide resource-guide--hb"></div>
            </div>
            <figcaption>
              Horizontal, Color<br>
              <a href="/logos/opensourcepledge-logo-horiz-color@2x.svg" target="_blank">SVG</a>,
              <a href="/logos/opensourcepledge-logo-horiz-color.png" target="_blank">PNG</a>
            </figcaption>
          </figure>
          <figure class="resource resource--dark">
            <div class="resource__image">
              <img src="/logos/opensourcepledge-logo-horiz-mono-dark@2x.svg">
              <div class="resource-guide resource-guide--va"></div>
              <div class="resource-guide resource-guide--vb"></div>
              <div class="resource-guide resource-guide--ha"></div>
              <div class="resource-guide resource-guide--hb"></div>
            </div>
            <figcaption>
              Horizontal, Black<br>
              <a href="/logos/opensourcepledge-logo-horiz-mono-dark@2x.svg" target="_blank">SVG</a>,
              <a href="/logos/opensourcepledge-logo-horiz-mono-dark.png" target="_blank">PNG</a>
            </figcaption>
          </figure>
          <figure class="resource resource--light">
            <div class="resource__image">
              <img src="/logos/opensourcepledge-logo-horiz-mono-light@2x.svg">
              <div class="resource-guide resource-guide--va"></div>
              <div class="resource-guide resource-guide--vb"></div>
              <div class="resource-guide resource-guide--ha"></div>
              <div class="resource-guide resource-guide--hb"></div>
            </div>
            <figcaption>
              Horizontal, White<br>
              <a href="/logos/opensourcepledge-logo-horiz-mono-light@2x.svg" target="_blank">SVG</a>,
              <a href="/logos/opensourcepledge-logo-horiz-mono-light.png" target="_blank">PNG</a>
            </figcaption>
          </figure>
          <figure class="resource resource--light">
            <div class="resource__image">
              <img src="/logos/opensourcepledge-logo-vert-color@2x.svg">
              <div class="resource-guide resource-guide--va"></div>
              <div class="resource-guide resource-guide--vb"></div>
              <div class="resource-guide resource-guide--ha"></div>
              <div class="resource-guide resource-guide--hb"></div>
            </div>
            <figcaption>
              Vertical, Color<br>
              <a href="/logos/opensourcepledge-logo-vert-color@2x.svg" target="_blank">SVG</a>,
              <a href="/logos/opensourcepledge-logo-vert-color.png" target="_blank">PNG</a>
            </figcaption>
          </figure>
          <figure class="resource resource--dark">
            <div class="resource__image">
              <img src="/logos/opensourcepledge-logo-vert-mono-dark@2x.svg">
              <div class="resource-guide resource-guide--va"></div>
              <div class="resource-guide resource-guide--vb"></div>
              <div class="resource-guide resource-guide--ha"></div>
              <div class="resource-guide resource-guide--hb"></div>
            </div>
            <figcaption>
              Vertical, Black<br>
              <a href="/logos/opensourcepledge-logo-vert-mono-dark@2x.svg" target="_blank">SVG</a>,
              <a href="/logos/opensourcepledge-logo-vert-mono-dark.png" target="_blank">PNG</a>
            </figcaption>
          </figure>
          <figure class="resource resource--light">
            <div class="resource__image">
              <img src="/logos/opensourcepledge-logo-vert-mono-light@2x.svg">
              <div class="resource-guide resource-guide--va"></div>
              <div class="resource-guide resource-guide--vb"></div>
              <div class="resource-guide resource-guide--ha"></div>
              <div class="resource-guide resource-guide--hb"></div>
            </div>
            <figcaption>
              Vertical, White<br>
              <a href="/logos/opensourcepledge-logo-vert-mono-light@2x.svg" target="_blank">SVG</a>,
              <a href="/logos/opensourcepledge-logo-vert-mono-light.png" target="_blank">PNG</a>
            </figcaption>
          </figure>
          <figure class="resource resource--light">
            <div class="resource__image">
              <img src="/logos/opensourcepledge-logo-url-color.svg">
              <div class="resource-guide resource-guide--va"></div>
              <div class="resource-guide resource-guide--vb"></div>
              <div class="resource-guide resource-guide--ha"></div>
              <div class="resource-guide resource-guide--hb"></div>
            </div>
            <figcaption>
              URL, Color<br>
              <a href="/logos/opensourcepledge-logo-url-color.svg" target="_blank">SVG</a>,
              <a href="/logos/opensourcepledge-logo-url-color.png" target="_blank">PNG</a>
            </figcaption>
          </figure>
          <figure class="resource resource--dark">
            <div class="resource__image">
              <img src="/logos/opensourcepledge-logo-url-mono-dark.svg">
              <div class="resource-guide resource-guide--va"></div>
              <div class="resource-guide resource-guide--vb"></div>
              <div class="resource-guide resource-guide--ha"></div>
              <div class="resource-guide resource-guide--hb"></div>
            </div>
            <figcaption>
              URL, Black<br>
              <a href="/logos/opensourcepledge-logo-url-mono-dark.svg" target="_blank">SVG</a>,
              <a href="/logos/opensourcepledge-logo-url-mono-dark.png" target="_blank">PNG</a>
            </figcaption>
          </figure>
          <figure class="resource resource--light">
            <div class="resource__image">
              <img src="/logos/opensourcepledge-logo-url-mono-light.svg">
              <div class="resource-guide resource-guide--va"></div>
              <div class="resource-guide resource-guide--vb"></div>
              <div class="resource-guide resource-guide--ha"></div>
              <div class="resource-guide resource-guide--hb"></div>
            </div>
            <figcaption>
              URL, White<br>
              <a href="/logos/opensourcepledge-logo-url-mono-light.svg" target="_blank">SVG</a>,
              <a href="/logos/opensourcepledge-logo-url-mono-light.png" target="_blank">PNG</a>
            </figcaption>
          </figure>
          <figure class="resource resource--light">
            <div class="resource__image">
              <img src="/logos/opensourcepledge-logo-icon-color-bg.svg">
              <div class="resource-guide resource-guide--va"></div>
              <div class="resource-guide resource-guide--vb"></div>
              <div class="resource-guide resource-guide--ha"></div>
              <div class="resource-guide resource-guide--hb"></div>
            </div>
            <figcaption>
              Icon, Color, Dark Background<br>
              <a href="/logos/opensourcepledge-logo-icon-color-bg.svg" target="_blank">SVG</a>,
              <a href="/logos/opensourcepledge-logo-icon-color-bg.png" target="_blank">PNG</a>
            </figcaption>
          </figure>
          <figure class="resource resource--light">
            <div class="resource__image">
              <img src="/logos/opensourcepledge-logo-icon-color.svg">
              <div class="resource-guide resource-guide--va"></div>
              <div class="resource-guide resource-guide--vb"></div>
              <div class="resource-guide resource-guide--ha"></div>
              <div class="resource-guide resource-guide--hb"></div>
            </div>
            <figcaption>
              Icon, Color, Transparent Background<br>
              <a href="/logos/opensourcepledge-logo-icon-color.svg" target="_blank">SVG</a>
            </figcaption>
        </div>
      </section>
    </main>
  </div>
</Layout>

<style>
  h1 {
    font-size: 2rem;
  }
</style>
