---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

interface Props {
  showDrafts?: boolean;
}

const { showDrafts } = Astro.props;

import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
dayjs.extend(utc);

import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import { urlForImage } from '../sanityUtil.ts';

const ARTICLES_QUERY = `*[_type == "article"]|order(publishDateTime desc){
  _id,
  title,
  slug,
  publishDateTime,
  author->{name, slug, avatar}
}`;

const articles = (await sanityClient.fetch<SanityDocument[]>(ARTICLES_QUERY))
  .filter((a) => {
    if (showDrafts) {
      return !dayjs(a.publishDateTime).isBefore(dayjs().utc());
    } else {
      return dayjs(a.publishDateTime).isBefore(dayjs().utc());
    }
  });
---

<div>
  {articles.map((article) => <div class="article-listing">
    <blockquote>
      <a href=`/blog/${article.slug.current}`>
        <h2>{article.title}</h2>
      </a>
    </blockquote>
    <div class="meta">
      <div
        class="avatar"
        style={`background-image: url(${urlForImage(article.author.avatar)}`}
      ></div>
      <div>
        <em>{article.author.name}</em>
        <time>{dayjs(article.publishDateTime).format('DD MMM YYYY')}</time>
      </div>
    </div>
    <hr>
  </div>)}
</div>

<!--
  Styles are in `common.css`, because they are reused in `rss.xsl` and on member pages.
-->
