---
// © 2024 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
dayjs.extend(utc);

import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import { urlForImage } from '../sanity-util.ts';

const ARTICLES_QUERY = `*[_type == "article"]|order(publishDateTime desc){
  _id,
  title,
  slug,
  publishDateTime,
  author->{name, slug, avatar}
}`;

const articles = (await sanityClient.fetch<SanityDocument[]>(ARTICLES_QUERY))
  .filter((a) => dayjs(a.publishDateTime).isBefore(dayjs().utc()));
---

<div>
  {articles.map((article) => <div class="article-listing">
    <blockquote>
      <a href=`/blog/${article.slug.current}`>
        <h2>{article.title}</h2>
      </a>
    </blockquote>
    <div class="meta">
      <div
        class="avatar"
        style={`background-image: url(${urlForImage(article.author.avatar)}`}
      ></div>
      <div>
        <em>{article.author.name}</em>
        <time>{dayjs(article.publishDateTime).format('DD MMM YYYY')}</time>
      </div>
    </div>
    <hr>
  </div>)}
</div>

<style>
  .article-listing {
    position: relative;
    margin: 0;
    hr {
      margin: 1.5rem auto;
      max-width: 10rem;
      border-color: var(--color-primary);
      border-width: 1px;
    }
    &:last-child hr {
      display: none;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: normal;
      font-family: Libre Franklin, sans-serif;
    }
    blockquote {
      margin: 0;
    }
    .meta {
      display: flex;
      align-items: center;
      .avatar {
        width: 2.5rem;
        height: 2.5rem;
        background-size: cover;
        background-position: center center;
        margin-right: 1rem;
        border-radius: 100%;
      }
      em {
        display: block;
      }
      time {
        display: block;
        font-size: 0.8rem;
      }
    }
  }
</style>
