---
// © 2024 Functional Software, Inc. dba Sentry
// © 2024 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

interface Props {
  href: string;
  target?: string;
}

const { href, target } = Astro.props;
---

<a class="button" href={href} target={target}>
  <slot></slot>
</a>
