---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}>
  <slot></slot>
</a>

<style>
  a {
    display: inline-block;
    margin: 1rem 0;
    padding: 0.8rem 2rem;
    color: var(--color-bg);
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
  }
  a:hover {
    color: var(--color-secondary);
  }
  a:active {
    color: var(--color-tertiary);
  }
</style>
