---
// © 2024 Chad Whitacre <chadwhitacre@sentry.io>
// © 2024 David Cramer
// © 2024 Vlad-Stefan Harbuz <vlad@vladh.net>
// SPDX-License-Identifier: Apache-2.0

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a class="button" href={href}>
  <slot></slot>
</a>

<style>
  .button {
    display: inline-block;
    margin: 1rem 0;
    padding: 0.8rem 2rem;
    color: var(--color-bg);
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    &:hover {
      background: var(--color-secondary);
    }
    &:active {
      background: var(--color-tertiary);
    }
  }
</style>
