---
// © Functional Software, Inc. dba Sentry
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

interface Props {
  href: string;
  target?: string;
  extraClasses?: string;
}

const { href, target, extraClasses } = Astro.props;
---

<a class={['button', extraClasses].join(' ')} href={href} target={target}>
  <slot></slot>
</a>
