---
// © 2025 Functional Software, Inc. dba Sentry
// SPDX-License-Identifier: Apache-2.0
---

<a href="https://cranberrysoss.com/" target="_blank" class="cranberry-soss-banner">
  <div class="container">
    <img src="/images/cranberrysoss-berries-bright.svg">
    <p>
      Get your festive <strong>Cranberry&nbsp;sOSS</strong> to support maintainers
    </p>
    <span>→</span>
  </div>
</a>

<style>
  .cranberry-soss-banner {
    display: block;
    padding: 0.3rem 0;
    color: var(--color-primary);
    text-decoration: none;
    background: var(--color-light-bg);
    border-radius: var(--border-radius);
    .container {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    p {
      flex: 1 0;
      margin: 0;
    }
    img {
      width: 3rem;
    }
  }
</style>
