---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Endorsement from "./Endorsement.astro";

interface Props {
  full?: boolean;
}

const { full } = Astro.props;
---

<div class="endorsement-list" data-full={full}>

  <!-- OSI -->
  <Endorsement
    name="The Open Source Initiative"
    handle="opensource.org/blog"
    imageUrl="/images/endorsers/osi.svg"
    sourceUrl="https://opensource.org/blog/the-open-source-initiative-supports-the-open-source-pledge"
  >
    <p
      >The Open Source Initiative supports the Open Source Pledge. By taking the Pledge, companies have one more
      instrument to commit to supporting an ecosystem of maintainers and organizations, ensuring the long-term health of
      the Open Source projects they rely on.</p
    >
  </Endorsement>

  <!-- FOSS Foundations -->
  <Endorsement
    name="The PHP Foundation"
    handle="thephp.foundation/blog"
    imageUrl="/images/endorsers/php_foundation.svg"
    sourceUrl="https://thephp.foundation/blog/2024/10/08/open-source-pledge/"
    hidden={!full}
  >
    <p>The Open Source Pledge aims to prevent maintainer burnout and reduce the risk of high-profile security incidents that can impact the broader tech ecosystem. We urge PHP-based companies, developers, and organizations to join.</p>
  </Endorsement>
  <Endorsement
    name="Open Source Collective"
    handle="blog.opencollective.com"
    imageUrl="/images/endorsers/opensourcecollective.png"
    sourceUrl="https://blog.opencollective.com/why-the-open-source-pledge-is-both-relevant-and-timely/"
    hidden={!full}
  >
    <p>The Open Source Pledge's simple message is incredibly important. Companies: pay your share.</p>
  </Endorsement>
  <Endorsement
    name="OpenSSL Foundation"
    handle="openssl-foundation.org"
    imageUrl="/images/endorsers/openssl-foundation.svg"
    sourceUrl="https://openssl-foundation.org/"
    hidden={!full}
  >
    <p
      >We’ve seen the impact of the Open Source Pledge firsthand — several donors have shared that it inspired their
      decision to give. We're grateful to the Pledge for raising awareness about the real financial needs of critical
      Open Source projects like OpenSSL.</p
    >
  </Endorsement>
  <Endorsement
    name="Ruby Central"
    handle="rubycentral.org/news"
    imageUrl="/images/endorsers/ruby-central.svg"
    sourceUrl="https://rubycentral.org/news/why-ruby-central-supports-the-open-source-pledge/"
    hidden={!full}
  >
    <p
      >As businesses and individuals rely more heavily on OSS, the strain on maintainers to provide timely updates and
      security patches continues to grow. The Pledge will support OSS maintainers and inspire a shift toward healthier
      work-life balance and more robust software security practices.</p
    >
  </Endorsement>
  <Endorsement
    name="The Perl and Raku Foundation"
    handle="news.perlfoundation.org"
    imageUrl="/images/endorsers/perl.png"
    sourceUrl="https://news.perlfoundation.org/post/-open-source-pledge"
    hidden={!full}
  >
    <p>We encourage other organizations to join us in supporting the Open Source Pledge. By doing so, you’ll help ensure that the OSS ecosystem remains healthy and sustainable, and that developers are recognized for the critical work they do.</p>
  </Endorsement>
  <Endorsement
    name="Play Framework"
    handle="playframework.com/blog"
    imageUrl="/images/endorsers/playframework.png"
    sourceUrl="https://www.playframework.com/blog/open-source-pledge-launched"
    hidden={!full}
  >
    <p>The Open Source Pledge is taking a step toward making open-source sustainability a mainstream issue that can no longer be ignored.</p>
  </Endorsement>
  <Endorsement
    name="The Django Software Foundation"
    handle="djangoproject.com/weblog"
    imageUrl="/images/endorsers/django.svg"
    sourceUrl="https://www.djangoproject.com/weblog/2024/oct/08/why-django-supports-the-open-source-pledge/"
    hidden={!full}
  >
    <p>We need companies to pay maintainers, or the 15,000 packages in Django's ecosystem will be at risk. By joining the Open Source Pledge, you are investing in the stability, security, and growth of the entire tech ecosystem.</p>
  </Endorsement>
  <Endorsement
    name="FOSS United"
    handle="fossunited.org/blog"
    imageUrl="/images/endorsers/fossunited.svg"
    sourceUrl="https://fossunited.org/blog/foundation/foss-united-supports-the-open-source-pledge"
    hidden={!full}
  >
    <p>For far too long technological giants have reaped the fruits of commercial products built on top of FOSS while the maintainers of these core dependencies are often left unpaid.</p>
  </Endorsement>

  <!-- VCs -->
  <Endorsement
    name="Accel"
    handle="accel.com/noteworthy"
    imageUrl="/images/endorsers/accel.svg"
    sourceUrl="https://www.accel.com/noteworthy/why-accel-is-supporting-the-open-source-pledge"
    hidden={!full}
  >
    <p>The Open Source Pledge addresses a critical challenge facing the sustainability of the foundation upon which much of modern technology is built. We enthusiastically support it.</p>
  </Endorsement>

  <!-- Individuals -->
  <Endorsement
    name="Nicholas C. Zakas"
    title="creator of ESLint"
    handle="@nzakas"
    imageUrl="/images/endorsers/nzakas.webp"
    sourceUrl="https://x.com/slicknet/status/1844768638798123356"
    hidden={!full}
  >
    <p
      >The Open Source Pledge is such an important endeavor. We need companies to start paying for the value they're
      extracting from Open Source software.</p
    >
  </Endorsement>
  <Endorsement
    name="Marijn Haverbeke"
    title="creator of CodeMirror and ProseMirror"
    handle="@marijnh"
    imageUrl="/images/endorsers/marijnh.webp"
    hidden={!full}
  >
    <p>In my experience, the best way to keep open-source development viable is stable, recurring contributions from people using the software commercially. I very much appreciate the way the Open Source Pledge is stimulating precisely this type of funding.</p>
  </Endorsement>
  <Endorsement
    name="Josh Goldberg"
    title="Mocha maintainer & ESLint contributor"
    handle="@joshuakgoldberg.com"
    imageUrl="/images/endorsers/joshgoldberg.webp"
    sourceUrl="https://bsky.app/profile/joshuakgoldberg.com/post/3lh22q274rk2z"
    hidden={!full}
  >
    <p
      >The Open Source Pledge is one of the most exciting initiatives for open source I've seen in years. Open source
      funding today is inherently broken. Do the right thing, support open source.</p
    >
  </Endorsement>
  <Endorsement
    name="Raymmar"
    title="writer and entrepreneur"
    handle="@raymmar_"
    imageUrl="/images/endorsers/raymmar.webp"
    sourceUrl="https://x.com/raymmar_/status/1832464000996548806"
    hidden={!full}
  >
    <p>Great initiative. Much needed and vital for the next step of internet growth. 💪</p>
  </Endorsement>
  <Endorsement
    name="Xavier Damman"
    title="Open Collective co-founder"
    handle="@xdamman"
    imageUrl="/images/endorsers/xdamman.webp"
    sourceUrl="https://x.com/xdamman/status/1837021472499343492"
    hidden={!full}
  >
    <p
      >Great initiative to get companies who wouldn’t exist without the digital public good of Open Source software to
      give back.</p
    >
  </Endorsement>
  <Endorsement
    name="Johannes Schickling"
    title="Prisma founder"
    handle="@schickling"
    imageUrl="/images/endorsers/schickling.webp"
    sourceUrl="https://x.com/schickling/status/1832361798130954335"
    hidden={!full}
  >
    <p>I can't overstate how excited I am about this. ❤️</p>
  </Endorsement>
</div>

<style>
</style>

<script>
  import { shuffle, range } from "../util.ts";

  const N_TO_CHOOSE = 1;

  const $lists = document.querySelectorAll<HTMLElement>('.endorsement-list');
  $lists.forEach(($list) => {
    if ($list.hasAttribute('data-full')) {
      return;
    }
    const $items = $list.querySelectorAll<HTMLElement>('.endorsement');
    const chosen = shuffle(range($items.length)).slice(0, N_TO_CHOOSE);
    $items.forEach(($item, idx) => {
      if (chosen.includes(idx)) {
        $item.hidden = false;
      } else {
        $item.remove();
      }
    });
  });
</script>
