---
// © 2024 Vlad-Stefan Harbuz <vlad@vladh.net>
// SPDX-License-Identifier: Apache-2.0

import Endorsement from "./Endorsement.astro";

interface Props {
  full?: boolean;
}

const { full } = Astro.props;
---

<div class="endorsement-list" data-full={full}>
  <Endorsement
    name="The PHP Foundation"
    handle="@ThePHPF"
    imageUrl="/images/endorsers/php_foundation.svg"
    sourceUrl="https://x.com/ThePHPF/status/1843638789681615096"
    hidden={!full}
  >
    <p>Every modern business—whether they know it or not—relies on Open Source software, yet few give back. The PHP Foundation celebrates the #OpenSourcePledge, whose members have committed to correcting this imbalance. Together, we can build a stronger, more resilient OSS ecosystem. 🌱</p>
  </Endorsement>
  <Endorsement
    name="Open Source Collective"
    handle="@opensourcecoll"
    imageUrl="/images/endorsers/opensourcecollective.png"
    sourceUrl="https://blog.opencollective.com/why-the-open-source-pledge-is-both-relevant-and-timely/"
    hidden={!full}
  >
    <p>The Open Source Pledge's simple message is incredibly important. Companies: pay your share.</p>
  </Endorsement>
  <Endorsement
    name="The Perl and Raku Foundation"
    handle="@perlfoundation"
    imageUrl="/images/endorsers/perl.png"
    sourceUrl="https://news.perlfoundation.org/post/-open-source-pledge"
    hidden={!full}
  >
    <p>We encourage other organizations to join us in supporting the Open Source Pledge. By doing so, you’ll help ensure that the OSS ecosystem remains healthy and sustainable, and that developers are recognized for the critical work they do.</p>
  </Endorsement>
  <Endorsement
    name="The Open Source Initiative"
    handle="@OpenSourceOrg"
    imageUrl="/images/endorsers/osi.svg"
    sourceUrl="https://opensource.org/blog/the-open-source-initiative-supports-the-open-source-pledge"
    hidden={!full}
  >
  <p>The Open Source Initiative supports the Open Source Pledge (…) By taking the Pledge, companies have one more
    instrument to commit to supporting an ecosystem of maintainers and organizations, ensuring the long-term health of the
    Open Source projects they rely on.</p>
  </Endorsement>
  <Endorsement
    name="Raymmar"
    handle="@raymmar_"
    imageUrl="/images/endorsers/raymmar.webp"
    sourceUrl="https://x.com/raymmar_/status/1832464000996548806"
    hidden={!full}
  >
    <p>Great initiative. Much needed and vital for the next step of internet growth. 💪</p>
  </Endorsement>
  <Endorsement
    name="Xavier Damman"
    handle="@xdamman"
    imageUrl="/images/endorsers/xdamman.webp"
    sourceUrl="https://x.com/xdamman/status/1837021472499343492"
    hidden={!full}
  >
    <p
      >Great initiative to get companies who wouldn’t exist without the digital public good of open source software to
      give back.</p
    >
  </Endorsement>
  <Endorsement
    name="Johannes Schickling"
    handle="@schickling"
    imageUrl="/images/endorsers/schickling.webp"
    sourceUrl="https://x.com/schickling/status/1832361798130954335"
  >
    <p>I can't overstate how excited I am about this. ❤️</p>
  </Endorsement>
</div>

<style>
</style>

<script>
  import { shuffle, range } from "../util.ts";

  const N_TO_CHOOSE = 1;

  const $lists = document.querySelectorAll<HTMLElement>('.endorsement-list');
  $lists.forEach(($list) => {
    if ($list.hasAttribute('data-full')) {
      return;
    }
    const $items = $list.querySelectorAll<HTMLElement>('.endorsement');
    const chosen = shuffle(range($items.length)).slice(0, N_TO_CHOOSE);
    $items.forEach(($item, idx) => {
      if (chosen.includes(idx)) {
        $item.hidden = false;
      } else {
        $item.remove();
      }
    });
  });
</script>
