---
interface Props {
  member: Member;
}

const { member } = Astro.props;

import { getDollarsPerDev, fmtCurrency } from '../member_util.ts';
import type { Member } from "../content/config.ts";
---
<td class="text-left p-0 pb-2">
  <div class="flex items-center">
    <img src={member.data.urlSquareLogoWithBackground} class="w-14 h-14 m-0 mr-4">
    {member.data.name}
  </div>
</td>
<td class="text-right p-0 pb-2 align-middle">
  {fmtCurrency(getDollarsPerDev(member.data.annualReports[0]))}
</td>
