---
// © 2024 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import LeaderboardMember from "./LeaderboardMember.astro";
import {
  getMembers, filterInactiveMembers, sortMembersByDevs,
} from '../memberFormatting.ts';

const members = filterInactiveMembers(await getMembers());
---


<div>
  <div class="leaderboard-grid">
    {sortMembersByDevs(members).map((member) =>
      <LeaderboardMember member={member}></LeaderboardMember>
    )}
  </div>
  <small>
    “Devs”: Average number of employed full-time equivalent developers (in latest report).<br>
    “$ / dev”: USD paid / average number of employed full-time equivalent developers (in latest report).
  </small>
</div>

<style>
  .leaderboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 1rem;
    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }
  }
  small {
    display: block;
    margin-top: 1rem;
  }
</style>
