---
interface Props {
  member: MemberWithId;
}

const { member } = Astro.props;

import { getDollarsPerDev, fmtCurrency } from '../members.ts';
import type { MemberWithId } from "../content/config.ts";
---

<td>
  <a href={`/members/${member.id}`}>
    <img src={member.data.urlSquareLogoWithBackground}>
    {member.data.name}
  </div>
</td>
<td>
  {fmtCurrency(getDollarsPerDev(member.data.annualReports[0]))}
</td>
