---
interface Props {
  grouped: boolean;
}

const { grouped } = Astro.props;

import LeaderboardMember from "./LeaderboardMember.astro";
import {
  getMembers, formatDevGroupBounds, filterInactiveMembers, groupMembers, sortMembers, DEV_GROUP_BOUNDS
} from '../members.ts';

const members = await getMembers();
---

<div class="leaderboard">
  {grouped ? <div>
    <h2>Member Companies</h2>
    {groupMembers(filterInactiveMembers(members)).map((groupMembers, idx) => groupMembers.length > 0 && <div>
      <table>
        <tr>
          <th><h3>{formatDevGroupBounds(DEV_GROUP_BOUNDS[idx])}</h3></th>
          <th>$/dev in latest report</th>
        </tr>
        {sortMembers(groupMembers).map((member) => <tr>
          <LeaderboardMember member={member}></LeaderboardMember>
        </tr>)}
      </table>
    </div>)}
  </div> : (
    <table>
      <tr>
        <th><h2>Member Leaderboard</h2></th>
        <th>$/dev in latest report</th>
      </tr>
      {sortMembers(filterInactiveMembers(members)).map((member) => <tr>
        <LeaderboardMember member={member}></LeaderboardMember>
      </tr>)}
    </table>
  )}
</div>
