---
// © 2024 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import MemberLogoBoardItem from "../components/MemberLogoBoardItem.astro";

interface Props {
  nRows?: number;
}

let { nRows } = Astro.props;

if (!nRows) {
  nRows = 2;
}
---

<div class="member-logo-board" data-nrows={nRows}>
  <MemberLogoBoardItem hidden={nRows < 1} slug="gitbutler" name="GitButler" maxHeight="1.6rem" />
  <MemberLogoBoardItem hidden={nRows < 1} slug="antithesis" name="Antithesis" />
  <MemberLogoBoardItem hidden={nRows < 1} slug="sentry" name="Sentry" maxHeight="1.8rem"/>
  <MemberLogoBoardItem hidden={nRows < 1} slug="astral" name="Astral" maxHeight="1.5rem" />

  <MemberLogoBoardItem hidden={nRows < 2} slug="laravel" name="Laravel" />
  <MemberLogoBoardItem hidden={nRows < 2} slug="browserbase" name="Browserbase" />
  <MemberLogoBoardItem hidden={nRows < 2} slug="val-town" name="Val Town" />
  <MemberLogoBoardItem hidden={nRows < 2} slug="prefect" name="Prefect" />

  <MemberLogoBoardItem hidden={nRows < 3} slug="pydantic" name="Pydantic Logfire" maxHeight="1.8rem" />
  <MemberLogoBoardItem hidden={nRows < 3} slug="emerge-tools" name="Emerge Tools" maxHeight="1.7rem" />
  <MemberLogoBoardItem hidden={nRows < 3} slug="frontend-masters" name="Frontend Masters" />
  <MemberLogoBoardItem hidden={nRows < 3} slug="scalar" name="Scalar" maxHeight="1.8rem" />

  <MemberLogoBoardItem hidden={nRows < 4} slug="buttondown" name="Buttondown" maxHeight="1.8rem" />
  <MemberLogoBoardItem hidden={nRows < 4} slug="httptoolkit" name="HTTP Toolkit" />
  <MemberLogoBoardItem hidden={nRows < 4} slug="herodevs" name="HeroDevs" />
  <MemberLogoBoardItem hidden={nRows < 4} slug="keygen" name="Keygen" />

  <MemberLogoBoardItem hidden={nRows < 5} slug="stackblitz" name="StackBlitz" maxHeight="1.4rem" />
  <MemberLogoBoardItem hidden={nRows < 5} slug="private-packagist" name="Private Packagist" />
  <MemberLogoBoardItem hidden={nRows < 5} slug="chieftools" name="Chief Tools" />
  <MemberLogoBoardItem hidden={nRows < 5} slug="speakeasy" name="Speakeasy" />

  <MemberLogoBoardItem hidden={nRows < 6} slug="tideways" name="Tideways" maxHeight="1.7rem" />
</div>

<style>
  .member-logo-board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    gap: 0.5rem 1.0rem;
    @media (max-width: 800px) {
      grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
      gap: 0.0rem 0.5rem;
    }
    @media (max-width: 550px) {
      grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
      gap: 0.0rem 0.5rem;
    }
  }
</style>

<script>
  const ITEMS_PER_ROW = 4;
  const PROBABILITY_TO_CHOOSE = 0.7;

  const $boards = document.querySelectorAll<HTMLElement>('.member-logo-board');
  $boards.forEach(($board) => {
    const nRows = $board.getAttribute('data-nrows');
    if (!nRows) {
      return;
    }
    const nToChoose = +nRows * ITEMS_PER_ROW;
    const $items = $board.querySelectorAll<HTMLElement>('.member-logo-board-item');
    let nChosen = 0;
    const nTotal = $items.length;
    $items.forEach(($item, idx) => {
      const mustChoose = (nToChoose - nChosen >= nTotal - idx);
      const mustNotChoose = nChosen == nToChoose;
      if (mustNotChoose) {
        $item.hidden = true;
      } else if (mustChoose || Math.random() < PROBABILITY_TO_CHOOSE) {
        $item.hidden = false;
        nChosen++;
      } else {
        $item.hidden = true;
      }
    });
  });
</script>
