---
// © 2024 Vlad-Stefan Harbuz <vlad@vladh.net>
// SPDX-License-Identifier: Apache-2.0

interface Props {
  slug: string;
  name: string;
  maxHeight?: string;
  hidden?: boolean;
}

let { slug, name, maxHeight, hidden } = Astro.props;

if (!maxHeight) {
  maxHeight = '2rem';
}

if (!hidden) {
  hidden = false;
}

const { default: svg } = await import (`../assets/images/members/${slug}/minimal.svg?raw`);
---

<div hidden={hidden} class="member-logo-board-item" role="img" aria-label=`The ${name} logo`>
  <Fragment set:html={svg} />
</div>

<style define:vars={{ maxHeight }}>
  .member-logo-board-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    svg {
      flex: 1;
      width: auto;
      height: auto;
      max-height: var(--maxHeight);
    }
  }
</style>
