---
// © 2024 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import {
  getMembers, filterInactiveMembers, sortMembersByDevs,
} from '../memberFormatting.ts';

const N_TO_CHOOSE = 5;
const members = sortMembersByDevs(filterInactiveMembers(await getMembers()));
---

<table class="mini-leaderboard">
  <tbody>
    {members.map((member, idx) => <tr hidden={idx >= N_TO_CHOOSE}>
      <td>
        <a class="sneaky" href={`/members/${member.id}`}>
          <img src=`/images/members/${member.id}/logo.webp` alt=`The ${member.data.name} logo`>
          {member.data.name}
        </div>
      </td>
    </tr>)}
  </tbody>
</table>

<style>
  table {
    width: 1%;
    margin: 0 auto;
  }
  tr {
    th {
      font-weight: normal;
      font-size: 0.9rem;
      padding-bottom: 0.3rem;
    }
  }
  img {
    max-width: 3.5rem;
    margin-right: 1rem;
  }
  a {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0.25rem 0;
    white-space: nowrap;
  }
</style>

<script>
  const N_TO_CHOOSE = 5;
  const PROBABILITY_TO_CHOOSE = 0.5;

  const $miniLeaderboards = document.querySelectorAll<HTMLElement>('.mini-leaderboard');
  $miniLeaderboards.forEach(($miniLeaderboard) => {
    const $rows = $miniLeaderboard.querySelectorAll<HTMLElement>('tbody tr');
    let nChosen = 0;
    const nTotal = $rows.length;
    $rows.forEach(($row, idx) => {
      const mustChoose = idx == 0 || (N_TO_CHOOSE - nChosen == nTotal - idx);
      const mustNotChoose = nChosen == N_TO_CHOOSE;
      if (mustNotChoose) {
        $row.hidden = true;
      } else if (mustChoose || Math.random() < PROBABILITY_TO_CHOOSE) {
        $row.hidden = false;
        nChosen++;
      } else {
        $row.hidden = true;
      }
    });
  });
</script>
