---
// © 2025 Functional Software, Inc. dba Sentry
// SPDX-License-Identifier: Apache-2.0
---

<div class="prebanner">
  <div class="container">
    <slot></slot>
  </div>
</div>

<style>
  .prebanner {
    padding: 0.2rem 0;
    background-color: var(--color-tertiary);
    color: black;
    a {
      color: black;
    }
  }
</style>
