---

---

<div class="toc-container" id="table-of-contents">
  <h2>Table of Contents</h2>
  <div class="toc">
    <ol>
      <!-- <li> elements will be added by a script on the page using this component -->
    </ol>
  </div>
</div>

<style>
  .toc-container {
    position: static;
    width: 100%;
    margin-bottom: 1rem;
    order: 1;
  }

  .toc {
    padding: 0;
  }

  .toc ol {
    display: flex;
    flex: auto;
    width: 100%;
    flex-direction: column;
    gap: 0.2rem;
  }

  .toc li {
    margin-bottom: 0.5rem;
  }
</style>
