---
// © 2024 Safwan Yaseen Parkar <safwanparkar6@gmail.com>
// SPDX-License-Identifier: Apache-2.0
---

<div class="toc-container" id="table-of-contents">
  <h2>Table of Contents</h2>
  <div class="toc">
    <ol>
      <!-- <li> elements will be added by a script on the page using this component -->
    </ol>
  </div>
</div>
