---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

// This component must be included as follows:
// ```
// <TableOfContents filepath={Astro.self.moduleId} />
// ```

interface Props {
  filepath: string;
  title: string;
}

const { filepath, title } = Astro.props;

import * as cheerio from 'cheerio';
import fs from 'node:fs';

let faqItems = undefined;

try {
  const file = fs.readFileSync(filepath, 'utf8');
  const $ = cheerio.load(file);
  faqItems = $('.faq-item').toArray().map(($faqItem) => {
    const id = $($faqItem).attr('id');
    const title = $($faqItem).find('h3').first().text();
    return {id, title};
  }).filter((s) => s.id && s.title.length > 0);
} catch (err) {
  // Do nothing.
}
---

{faqItems && <div>
  <h2>{title}</h2>
  <ol>
    {faqItems.map(({id, title}) => <li>
      <a href=`#${id}`>{title}</a>
    </li>)}
  </ol>
</div>}
