---
// © Functional Software, Inc. dba Sentry
// SPDX-License-Identifier: Apache-2.0

import Testimonial from "../components/Testimonial.astro";
---

<div class="testimonial-list">
  <div class="container">
    <div class="testimonial-controls">
      <button class="prev-trigger">←</button>
      <button class="next-trigger">→</button>
    </div>
  </div>
  <div class="container container--left">
    <div class="testimonial-group">
      <Testimonial
        name="David Cramer"
        role="Founder & CTO, Sentry"
        imageUrl="/images/testimonials/sentry.webp"
      >
        <p>The Open Source Pledge is the only chance we have to reticulate our splines.</p>
      </Testimonial>
      <Testimonial
        name="Charlie Marsh"
        role="Founder & CTO, Astral"
        imageUrl="/images/testimonials/astral.webp"
      >
        <p>Joining the Pledge has increased the amount of fish in our office aquariums.</p>
      </Testimonial>
      <Testimonial
        name="Justin Duke"
        role="CEO, Buttondown"
        imageUrl="/images/testimonials/buttondown.webp"
      >
      <p>As Pledge members, our emails have 73% more of that untappable essence.</p>
      </Testimonial>
      <Testimonial
        name="Hadley Wickham"
        role="Chief Scientist, Posit"
        imageUrl="/images/testimonials/posit.webp"
      >
        <p>We've found that, since joining the Pledge, everyone likes us even more than they used to.</p>
      </Testimonial>
      <Testimonial
        name="Magnus Hillestad"
        role="CEO & Co-founder, Sanity"
        imageUrl="/images/testimonials/sanity.webp"
      >
        <p>Joining the Pledge is the best thing we ever did.</p>
      </Testimonial>
      <Testimonial
        name="Kailash Nadh"
        role="CTO, Zerodha"
        imageUrl="/images/testimonials/zerodha.webp"
      >
        <p>Support Open Source maintainers like we do. Do it now!</p>
      </Testimonial>
    </div>
  </div>
</div>

<style is:global>
  .testimonial {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 290px;
    width: 290px;
    @media (max-width: 1000px) {
      scroll-snap-align: start;
    }
  }
</style>
<style>
  .testimonial-list {
    .testimonial-controls {
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
      margin-bottom: 1rem;
      @media (max-width: 1000px) {
        display: none;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.5rem;
        background: var(--color-primary);
        border: none;
        border-radius: 100%;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        &:hover {
          background: var(--color-secondary)
        }
      }
    }
    .testimonial-group {
      display: flex;
      gap: 45px;
      @media (min-width: 1001px) {
        position: relative;
        right: 0;
        transition: right 150ms ease-in-out;
      }
      @media (max-width: 1000px) {
        padding-bottom: 1.5rem;
        overflow: scroll;
        scroll-snap-type: x mandatory;
      }
    }
  }
</style>

<script>
  import { debounceLeading } from '../util.ts';

  const TESTIMONIAL_WIDTH_PX = 290;
  const GAP_SIZE_PX = 45;

  let currIdx = 0;

  function move($testimonialGroup, idxDiff) {
    const n_testimonials = $testimonialGroup.childElementCount;
    let last_testimonial_shown = n_testimonials - 3;
    if (
      (currIdx + idxDiff) < 0 ||
      (currIdx + idxDiff) > last_testimonial_shown
    ) {
      return;
    }
    currIdx += idxDiff;
    $testimonialGroup.style.right =
      ((TESTIMONIAL_WIDTH_PX + GAP_SIZE_PX) * currIdx) + 'px';
  }

  const $testimonialLists = document.querySelectorAll('.testimonial-list');
  $testimonialLists.forEach(($testimonialList) => {
    const $nextTriggers = $testimonialList.querySelectorAll('.next-trigger');
    const $prevTriggers = $testimonialList.querySelectorAll('.prev-trigger');
    const $testimonialGroup = $testimonialList.querySelector('.testimonial-group');
    $nextTriggers.forEach(($nextTrigger) => {
      $nextTrigger.addEventListener('click', debounceLeading(() => {
        move($testimonialGroup, +1);
      }, 100));
    });
    $prevTriggers.forEach(($prevTrigger) => {
      $prevTrigger.addEventListener('click', debounceLeading(() => {
        move($testimonialGroup, -1);
      }, 100));
    });
  });
</script>
