---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import {
  getMembers,
  getAllTimeTotalRaised,
  getLastYearTotalRaised,
  fmtCurrency,
} from '../members/common.ts';
---

<div class="total-tally small-caps">
  <p>Our Members have paid maintainers</p>
  <h2>{fmtCurrency(getLastYearTotalRaised(getMembers()))}</h2>
  <p
    >over the last year, and<br>
    <span class="small-amount">{fmtCurrency(getAllTimeTotalRaised(getMembers()))}</span>
    since launch</p
  >
</div>

<style>
  .total-tally {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
    font-family: var(--font-display);
    font-variant-numeric: tabular-nums;
    p {
      margin: 0;
    }
    h2 {
      max-width: 100%;
      margin-top: 15px;
      margin-bottom: 20px;
      font-size: var(--font-size-xxl);
      line-height: 1;
      @media (max-width: 900px) {
        font-size: var(--font-size-xl);
      }
    }
    .small-amount {
      font-size: 20px;
    }
    h2 {
      text-decoration: underline;
      text-decoration-thickness: 7px;
      text-decoration-color: var(--color-primary);
      text-underline-offset: 3px;
    }
  }
</style>
