---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import {
  getMembers,
  getAllTimeTotalRaised,
  getLastYearTotalRaised,
  fmtCurrency,
} from '../members/common.ts';
---

<div class="total-tally">
  <div class="total-tally__desc">
    <p>Our members have<br>paid maintainers</p>
  </div>
  <div>
    <h2>{fmtCurrency(getAllTimeTotalRaised(getMembers()))}</h2>
    <p>since launch</p>
  </div>
  <div>
    <h2>{fmtCurrency(getLastYearTotalRaised(getMembers()))}</h2>
    <p>in the past year</p>
  </div>
</div>

<style>
  .total-tally {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 20px;
    margin-block: 40px;
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
    font-family: var(--font-body);
    font-variant-numeric: tabular-nums;
    @media (max-width: 800px) {
      font-size: var(--font-size-m);
      line-height: var(--line-height-m);
      text-align: center;
      .total-tally__desc {
        flex-basis: 100%;
      }
    }
    p {
      margin: 0;
      text-wrap: balance;
    }
    h2 {
      margin: 0;
      font-size: var(--font-size-xl);
      line-height: var(--line-height-xl);
      font-weight: 800;
      @media (max-width: 800px) {
        font-size: var(--font-size-l);
        line-height: var(--line-height-l);
      }
    }
  }
</style>
