---
interface Props {
  title?: string;
  navless: boolean;
}

const { title, navless } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta name="generator" content={Astro.generator}>

    <title>{ title ? (title + " | Open Source Pledge") : "Open Source Pledge" }</title>
    <meta name="description" content="Our companies feast year after year at the Open Source table. It's time to settle up.">
    <meta property="og:url" content="https://osspledge.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content={ title ? (title + " | Open Source Pledge") : "Open Source Pledge" }>
    <meta property="og:description" content="Our companies feast year after year at the Open Source table. It's time to settle up. ">
    <meta property="og:image" content="https://osspledge.com/logos/opensourcepledge-logo-horiz-color-opengraph.png">

    <script
      is:inline
      defer
      data-domain="osspledge.com"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    {
      !navless && (
        <nav>
          <div class="container">
            <a href="/">
              <img src="/logos/opensourcepledge-logo-horiz-color.png">
            </a>
          </div>
        </nav>
      )
    }
    <div class="container">
      <slot></slot>
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

  :root {
    --color-dark: #181225;
    --color-muted: #ccc;
    --color-purple: #9e86ff;
    --color-pink: #ff70bc;
    --color-yellow: #ffd00e;
    --color-green: #2dde74;
  }
  html {
    font-family: "Libre Franklin", system-ui, sans-serif;
    background-color: var(--color-dark);
    color: white;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Azeret Mono", "Courier New", Courier, monospace;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .container {
    margin: auto;
    padding: 0 1rem;
    max-width: 42rem;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>

<style>
  nav {
    padding: 2rem 0;
    img {
      max-height: 3.5rem;
    }
  }
</style>
