---
// © 2024 Functional Software, Inc. dba Sentry
// © 2024 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

interface Props {
  title?: string;
  canonicalUrl?: string;
  navless?: boolean;
  preventIndexing?: boolean;
  ogDescription?: string;
  ogImageUrl?: string;
  ogImageAlt?: string;
}

const {
  title, canonicalUrl, navless, preventIndexing, ogDescription, ogImageUrl, ogImageAlt,
} = Astro.props;

import '../styles/common.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/favicon.png">

    <title>{ title ? (title + " | Open Source Pledge") : "Open Source Pledge" }</title>
    <meta
      name="description"
      content={ogDescription || "Our companies feast year after year at the Open Source table. It's time to settle up."}>
    <meta property="og:type" content="website">
    <meta property="og:title" content={title ? (title + " | Open Source Pledge") : "Open Source Pledge"}>
    <meta
      property="og:description"
      content={ogDescription || "Our companies feast year after year at the Open Source table. It's time to settle up."}>
    <meta
      property="og:image"
      content={ogImageUrl || "https://opensourcepledge.com/generated/output/opengraph.png"}>
    <meta
      property="og:image:alt"
      content={ogImageAlt || "The Open Source Pledge logo."}>
    <meta property="og:site_name" content="Open Source Pledge">
    <meta property="og:determiner" content="the">
    <meta property="og:url" content={Astro.url}>
    <meta property="article:published_time" content="2024-10-08">
    {preventIndexing && <meta name="robots" content="noindex">}
    <link rel="me" href="https://fosstodon.org/@opensourcepledge">
    <link rel="canonical" href={canonicalUrl || Astro.url}>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="The Open Source Pledge Blog"
      href="/rss.xml">

    <script
      is:inline
      defer
      data-domain="opensourcepledge.com"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <a class="skiplink" href="#main-content">Skip to main content</a>
    { !navless && (
      <nav class="container">
        <a href="/">
          <img src="/logos/opensourcepledge-logo-horiz-color.png" alt="The Open Source Pledge logo">
        </a>
        <ul>
          <li>
            <a class="sneaky" href="/join">Join</a>
          </li>
          <li>
            <a class="sneaky" href="/about">About</a>
          </li>
          <li>
            <a class="sneaky" href="/members">Members</a>
          </li>
          <li>
            <a class="sneaky" href="/blog">Blog</a>
          </li>
        </ul>
      </nav>
    ) }
    <slot></slot>
    <footer class="container">
      <div class="footer-nav">
        <span><a class="sneaky" href="/join">Join</a></span>
        <span><a class="sneaky" href="/about">About</a></span>
        <span><a class="sneaky" href="/members">Members</a></span>
        <span><a class="sneaky" href="/blog">Blog</a></span>
        <span><a class="sneaky" href="/rss.xml">RSS</a></span>
        <br>
        <span><a class="sneaky" href="/endorsements">Endorsements</a></span>
        <span><a class="sneaky" href="/press">Press</a></span>
        <span><a class="sneaky" href="/resources">Resources</a></span>
      </div>
      <div class="footer-socials">
        <a href="https://bsky.app/profile/opensourcepledge.com" class="bluesky-flutter">
          <svg role="img" aria-label="The Bluesky logo" width="28" height="28" viewBox="0 0 566 500" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <path id="wing" fill="currentColor" d="M 123.244 35.008 C 188.248 83.809 283.836 176.879 283.836 235.857 C 283.836 316.899 283.879 235.845 283.836 376.038 C 283.889 375.995 282.67 376.544 280.212 383.758 C 266.806 423.111 214.487 576.685 94.841 453.913 C 31.843 389.269 61.013 324.625 175.682 305.108 C 110.08 316.274 36.332 297.827 16.093 225.504 C 10.271 204.699 0.343 76.56 0.343 59.246 C 0.343 -27.451 76.342 -0.206 123.244 35.008 Z" />
            </defs>
            <use xlink:href="#wing" class="left" />
            <use xlink:href="#wing" class="right" />
          </svg>
        </a>
        <a href="https://fosstodon.org/@opensourcepledge">
          <svg role="img" aria-label="The Mastodon logo" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 74 79"><path fill="white" d="M73.701 17.432c-1.14-8.38-8.524-14.985-17.277-16.265C54.947.951 49.352.164 36.39.164h-.097C23.328.164 20.547.95 19.07 1.167 10.56 2.411 2.789 8.346.903 16.826-.004 21.002-.1 25.632.068 29.879c.24 6.09.287 12.17.846 18.237a85 85 0 0 0 2.018 11.96c1.792 7.268 9.048 13.316 16.156 15.784 7.61 2.573 15.794 3 23.636 1.234a35 35 0 0 0 2.56-.692c1.903-.599 4.136-1.269 5.778-2.446a.18.18 0 0 0 .075-.142v-5.877a.17.17 0 0 0-.138-.167.2.2 0 0 0-.077 0 66.2 66.2 0 0 1-15.338 1.773c-8.89 0-11.28-4.173-11.966-5.91-.55-1.502-.9-3.068-1.04-4.659a.17.17 0 0 1 .136-.175.2.2 0 0 1 .08.002 65 65 0 0 0 15.087 1.772c1.223 0 2.441 0 3.664-.032 5.111-.141 10.499-.4 15.528-1.372.125-.024.25-.046.358-.078 7.933-1.506 15.482-6.236 16.249-18.211.029-.472.1-4.939.1-5.428.004-1.662.542-11.794-.079-18.02M61.493 47.314H53.15V27.107c0-4.254-1.792-6.424-5.437-6.424-4.008 0-6.015 2.567-6.015 7.636V39.38h-8.291V28.32c0-5.07-2.011-7.637-6.019-7.637-3.624 0-5.434 2.17-5.437 6.424v20.207h-8.334v-20.82q0-6.381 3.294-10.14c2.265-2.499 5.237-3.782 8.925-3.782 4.27 0 7.496 1.624 9.646 4.867l2.076 3.446 2.079-3.446c2.15-3.244 5.377-4.867 9.639-4.867 3.684 0 6.656 1.283 8.929 3.783Q61.5 20.108 61.5 26.494z"/></svg>
        </a>
        <a href="https://x.com/ThePledge">
          <svg role="img" aria-label="The X (Twitter) logo" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 300 300.251"><path fill="#fff" d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59H300M36.01 19.54h40.65l187.13 262.13h-40.66"/></svg>
        </a>
        <a href="https://github.com/opensourcepledge/opensourcepledge.com">
          <svg role="img" aria-label="The GitHub logo" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 33 32"><path fill="#fff" fill-rule="evenodd" d="M16.288 0C7.294 0 0 7.293 0 16.29c0 7.197 4.667 13.302 11.14 15.456.815.15 1.112-.353 1.112-.785 0-.386-.014-1.411-.022-2.77-4.531.984-5.487-2.184-5.487-2.184-.741-1.882-1.809-2.383-1.809-2.383-1.479-1.01.112-.99.112-.99 1.635.115 2.495 1.679 2.495 1.679 1.453 2.489 3.813 1.77 4.741 1.353.148-1.052.569-1.77 1.034-2.177-3.617-.411-7.42-1.809-7.42-8.051 0-1.778.635-3.233 1.677-4.371-.168-.412-.727-2.069.16-4.311 0 0 1.367-.438 4.479 1.67a15.6 15.6 0 0 1 4.078-.549 15.6 15.6 0 0 1 4.078.549c3.11-2.108 4.475-1.67 4.475-1.67.889 2.242.33 3.899.163 4.311 1.044 1.138 1.674 2.593 1.674 4.371 0 6.258-3.809 7.635-7.437 8.038.584.503 1.105 1.497 1.105 3.017 0 2.177-.02 3.934-.02 4.468 0 .436.294.943 1.12.784 6.468-2.159 11.131-8.26 11.131-15.455C32.579 7.293 25.285 0 16.288 0"/></svg>
        </a>
        <a href="https://www.linkedin.com/company/opensourcepledge/">
          <svg role="img" aria-label="The LinkedIn logo" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 72 72"><path fill="#fff" d="M8 0a8 8 0 0 0-8 8v56a8 8 0 0 0 8 8h56a8 8 0 0 0 8-8V8a8 8 0 0 0-8-8zm8.35 10c3.508 0 6.347 2.863 6.347 6.396s-2.84 6.399-6.347 6.399S10 19.929 10 16.396 12.842 10 16.35 10m33.033 16.273c7.353 0 12.617 4.49 12.617 13.778V62H51.316V43.803c0-4.99-1.896-7.778-5.845-7.778-4.296 0-6.54 2.902-6.54 7.778V62H28.634V27.332H38.93v4.672s3.096-5.73 10.453-5.73m-38.35 1.059h10.735V62H11.03z"></svg>
        </a>
      </div>
    </footer>
  </body>
</html>
