---
interface Props {
  title: string;
  navless: boolean;
}

const { title, navless } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-app-dark text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      is:inline
      defer
      data-domain="osspledge.com"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    { !navless && <nav class="py-8">
      <div class="container">
        <a href="/">
          <img
            class="max-h-14"
            src="/logos/opensourcepledge-logo-horiz-color.png"
          >
        </a>
      </div>
    </nav> }
    <div class="container">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

  html {
    font-family: "Libre Franklin", system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .container {
    margin: auto;
    padding: 0 1rem;
    max-width: 42rem;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
