---
// © 2024 Functional Software, Inc. dba Sentry
// SPDX-License-Identifier: Apache-2.0

const { node } = Astro.props;
---

<video controls width="980">
  <source src={node.videoUrl}>
  <a href={node.videoUrl}>Download the video.</a>
</video>
